联合早报订阅.json
{
  "name": "联合早报订阅",
  "nodes": [
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        576,
        144
      ],
      "id": "04853848-ab67-4f4c-b4ec-5f0eac63d397",
      "name": "Aggregate1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fromEmail": "yyf19780423@163.com",
        "toEmail": "83494253@qq.com",
        "subject": "=联合早报{{$now.format('yyyy-MM-dd')}}",
        "html": "={{\n$json.data.map((item, index) => `\n<div style=\"max-width: 800px; margin: 20px auto; font-family: 'Microsoft YaHei', sans-serif; color: #333;\">\n  <!-- 序号标签 -->\n  <div style=\"margin-bottom: 15px;\">\n    <span style=\"\n      background: #2196f3;\n      color: white;\n      padding: 4px 12px;\n      border-radius: 6px;\n      font-size: 14px;\n      margin-right: 10px;\n    \">${index + 1}</span>\n    <!-- 标题 -->\n    <h2 style=\"display: inline-block; margin: 0; font-size: 20px; color: #2c3e50;\">\n      ${item.title || '无标题'}\n    </h2>\n  </div>\n\n  <!-- 发布信息 -->\n  <div style=\"color: #666; font-size: 12px; margin-bottom: 15px; border-bottom: 1px solid #eee; padding-bottom: 10px;\">\n    <span>发布时间：${item.pubDate || '未知时间'}</span>\n    <a href=\"${item.link}\" style=\"color: #2196f3; text-decoration: none; margin-left: 15px;\">查看原文</a>\n  </div>\n\n  <!-- 正文内容 -->\n  <div style=\"line-height: 1.8; font-size: 15px; margin-bottom: 20px;\">\n    ${item.content || item.contentSnippet || '暂无内容'}\n  </div>\n\n  <!-- 分隔线 -->\n  <hr style=\"border: none; border-top: 2px solid #f5f5f5; margin: 30px 0;\">\n</div>\n`)\n.join('')\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        816,
        144
      ],
      "id": "3a34c5ec-8252-42bc-a1d4-4b20870eac69",
      "name": "Send email1",
      "webhookId": "f1a64099-8b8b-4b1a-82c3-4447df9ca834",
      "alwaysOutputData": true,
      "credentials": {
        "smtp": {
          "id": "DjhoOMu9s3fp60Ay",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        112,
        144
      ],
      "id": "0ec1b799-468f-4c3d-aa95-e9c4120d1dc5",
      "name": "Convert to File1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        336,
        144
      ],
      "id": "b532757a-092e-4ace-ab8c-5649f35893be",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://plink.anyfeeder.com/zaobao/realtime/world",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        -64
      ],
      "id": "3a6a8f3a-a4de-4c20-a751-fd9855010aff",
      "name": "RSS Read",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "af9daf2b-ec48-430f-b9a4-de3434f79581",
      "name": "Schedule Trigger每日8点触发"
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger每日8点触发": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "676d7843-9cc0-4c93-96dd-dc4c4a5b8ea0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1997fc0e5234d358a2de15a099c06b2f63ed80f5ffafd985c3731df00255b8e6"
  },
  "id": "zHKywwK1564J3BYufODe_",
  "tags": []
}