量子位订阅.json
{
  "name": "量子位订阅",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        64
      ],
      "id": "4f9512ae-5fee-423e-8743-849fa089060d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.qbitai.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1296,
        64
      ],
      "id": "4d31c2bf-a057-4743-8a49-a8a3989e3843",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -928,
        64
      ],
      "id": "2b83d22e-8dd8-4967-9f4d-e53b42809c16",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": ".article",
              "skipSelectors": ".zhaiyao,.article_info,.pgc-img"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -752,
        64
      ],
      "id": "339dc195-54d5-49cb-9666-2796bf21274b",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=文章标题：{{ $('RSS Read').item.json.title }}\n文章链接：{{ $('RSS Read').item.json.link }}\n文章内容：'''\n{{ $json.content }}'''",
        "options": {
          "systemMessage": "You are a helpful assistant，帮助用户总结文章摘要,并以以下格式输出:\n** 文章标题 **\n-来源:[网站名称/作者]\n-原文链接:[URL]\n-核心摘要:\n -[3-5 句话概括文章核心逻辑]\n-关键要点:\n -[要点 1]\n -[要点 2]\n -[要点 3]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -752,
        224
      ],
      "id": "4f8671d1-6449-425c-b5bc-3eb42e480f07",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-20b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -960,
        320
      ],
      "id": "e3715578-31ee-4963-98c1-8ef5cc688ff4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SF0djxymvqT2TUXF",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/Data/{{$now.format('yyyy-MM-dd')}}.html",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -784,
        448
      ],
      "id": "c69ceadb-ca9f-49af-8312-63f32d5f8ccd",
      "name": "FTP",
      "credentials": {
        "ftp": {
          "id": "WsYurPF3eXsdAkQ3",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "yyf19780423@163.com",
        "toEmail": "83494253@qq.com",
        "subject": "=量子位订阅",
        "html": "={{ \n  $json.output.map((item, index) => `\n    <div style=\"margin: 10px 0;\">\n      <span style=\"\n        background: #2196f3;\n        color: white;\n        padding: 2px 8px;\n        border-radius: 2px;\n        margin-right: 8px;\n      \">${index + 1}</span>\n      ${item}\n      <hr style=\"border: 1px solid #eee; margin-top: 8px;\">\n    </div>\n  `).join('') \n}}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -144,
        0
      ],
      "id": "1c11b375-96b0-4d49-8ca4-50602c91ed15",
      "name": "Send email",
      "webhookId": "ed1c2c94-0b3d-4437-92ea-3b5b1a889cf0",
      "credentials": {
        "smtp": {
          "id": "DjhoOMu9s3fp60Ay",
          "name": "SMTP account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1120,
        64
      ],
      "id": "3984bb15-3c33-43d5-8ebc-b845c9cd596e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ],
      "id": "213fab9e-4914-4e54-9676-9c39abdbe4e0",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "binaryPropertyName": "=data",
        "options": {
          "encoding": "utf8"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        16,
        240
      ],
      "id": "1a5d2e5a-08ad-4633-9dbd-ddd06c5b9672",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "upload",
        "path": "=/Data/{{$now.format('yyyy-MM-dd')}}.html",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        0,
        464
      ],
      "id": "4e500d0f-1005-496c-b6fe-96061a79484a",
      "name": "FTP1",
      "credentials": {
        "ftp": {
          "id": "WsYurPF3eXsdAkQ3",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"zh-CN\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>资讯汇总</title>\n  <style>\n    /* 全局样式：重置+统一字体 */\n    * {\n      margin: 0;\n      padding: 0;\n      box-sizing: border-box;\n      font-family: \"微软雅黑\", \"PingFang SC\", sans-serif;\n    }\n    /* 容器：居中+宽度限制 */\n    .container {\n      max-width: 800px;\n      margin: 30px auto;\n      padding: 0 20px;\n    }\n    /* 主标题 */\n    .news-title {\n      font-size: 24px;\n      color: #2c3e50;\n      border-bottom: 2px solid #3498db;\n      padding-bottom: 10px;\n      margin-bottom: 20px;\n    }\n    /* 资讯卡片 */\n    .news-card {\n      background: #fff;\n      border-radius: 8px;\n      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);\n      padding: 20px;\n      margin-bottom: 20px;\n      transition: box-shadow 0.3s;\n    }\n    .news-card:hover {\n      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);\n    }\n    /* 资讯子标题 */\n    .news-card h3 {\n      font-size: 18px;\n      color: #3498db;\n      margin-bottom: 10px;\n    }\n    /* 资讯内容 */\n    .news-card p {\n      font-size: 14px;\n      line-height: 1.8;\n      color: #555;\n      /* 换行不压缩 */\n      white-space: pre-wrap;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1 class=\"news-title\">最新资讯汇总</h1>\n    <!-- 循环渲染每条资讯（替换为你的content数据） -->\n    {{ $json.output.map((item, index) => `\n      <div class=\"news-card\">\n        <h3>资讯 ${index + 1}</h3>\n        <p>${item}</p>\n      </div>\n    `).join('') }}\n  </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -160,
        240
      ],
      "id": "31f50403-3054-42f6-a521-e53cd5c010e4",
      "name": "HTML1"
    }
  ],
  "pinData": {
    "HTML": [
      {
        "json": {
          "content": "> 一水 发自 凹非寺\n> \n> 量子位 | 公众号 QbitAI\n\n一张照片，一段往事，一个愈加伟大的人格……\n\n这就是Hinton最近又在圈内被热议的“江湖往事”。\n\n最开始是一张老照片——1986年CMU首届联结主义夏令营合影。\n\n有人将这张合影誉为AI界的“索尔维会议”，认为只要是玩神经网络、计算神经、计算语言的后辈们，几乎都能在这张照片里找到自家祖师爷。\n\n不信你看，图中圈出来的就是深度学习发明人、诺贝尔物理学奖、图灵奖双料得主Hinton，正是在他的坚持下，神经网络才最终迎来春天。另一位熟面孔是图灵奖得主Yann\nLeCun，他后来发明的卷积神经网络开启了计算机视觉时代。（ps：LeCun每次外出演讲都会在PPT里放这张图，真爱粉无疑了）\n\n以及同框的还有Stan Dehaene、Mitsuo Kawato、Jay McClelland等一众在认知科学、神经科学和计算机领域登峰造极的大神……\n\n虽然在80年代这群年轻人还籍籍无名，但几十年后，他们的影响力，正在统治硅谷和华尔街。\n\n是的，因为照片中还有一位当时的青椒博士生Peter Brown，他是Hinton的第一位博士研究生，现任顶尖量化基金文艺复兴科技CEO，不折不扣的华尔街巨鳄。\n\n（ps：通过卷发和眼镜大致推测另一个圈出来的是年轻版Peter Brown，如有错误欢迎大家指正）\n\n40年前，他跟着Hinton在CMU学习语音识别；40年后，他掌舵全球最知名的量化基金，身家亿万美元，早早就让金钱变成了数字游戏。\n\n而且也是因为他，让Hinton显得更加人格高尚。\n\n因为在AI复兴之前的三十年里，Hinton不仅科研经费短缺，个人经济状况也算不上好——后来自曝卖自己到谷歌就是希望给“有缺陷”的儿子留点钱。\n\n但老爷子不曾动用过关系，或者让有资源有能力的徒弟们做点什么。\n\n安贫乐道、遗世独立，贵族风范一以贯之。\n\n\nPETER BROWN：HINTON首位弟子、全球知名对冲基金CEO\n\n想知道Peter Brown是谁，只需看一眼多伦多大学官网统计的Hinton学生名单就知道了。\n\n按照毕业顺序，他算是Hinton带过的第一位博士研究生（按辈分算是Ilya的大师哥）。\n\n这位大师哥早期主要研究语音识别，后来进入IBM工作过一段时间，最后才从AI领域跨界到金融领域。\n\n而在华尔街，Peter Brown如今算是响当当的人物——他是全球知名对冲基金、曾开启量化交易先河的文艺复兴科技公司的现任CEO。\n\n这家公司最早由数学家西蒙斯——梁文锋的偶像创办，在华尔街招收各种金融天才的时候，通过聘用数学、计算机人才，通过机器学习来实现交易，成为了回报最高的基金之一，后来也成为了华尔街乃至全球最知名的量化交易基金。\n\n但现任CEO的Peter Brown，实际不是一开始就踏入华尔街的。\n\n他是AI最早的信徒，也跟随Hinton经历着那个时代里对AI最典型的冷遇。\n\n\nAI发展里的路线之争\n\n还在高中时，Peter Brown就对傅里叶变换（Fourier Transform）产生了浓厚兴趣，认为它可以用于语音识别。\n\n这里补充一下，傅里叶变换是一种强大的数学工具，用“听一首交响乐”的例子来打比方就是——\n\n耳朵实际听到的是一个随着时间起伏变化的、非常复杂的混合声波，但经傅里叶变换处理后，你就能分析出里面的小提琴（高频）占多少强度，大提琴（中频）占多少强度……总之它可以用来分析语音。\n\n于是在进入哈佛大学后，Peter\nBrown的目标相当明确——主修数学和物理。并在人工智能刚刚兴起时，跑到卡内基梅隆大学跟着Hinton学AI，成为其首位博士研究生。\n\n其博士毕业论文也和语音识别相关，主要从信息论视角系统性地探讨了自动语音识别中的声学建模问题。\n\n具体研究内容是什么不重要，重要的是这篇论文发表于语音识别的早期阶段——\n\n它奠定了基于统计模型（尤其是隐马尔可夫模型）的现代语音识别基础，其思想深刻影响了之后数十年语音识别乃至序列建模领域的发展。\n\n而在博士毕业后，Peter Brown选择加入“蓝色巨人”IBM，并继续从事语音识别、机器翻译以及后来被称为大语言模型预训练和生成的相关技术工作。\n\n尤其在语音模型训练方面，Peter Brown和团队算是遭遇了路线和数据两方面的挫折。\n\n当时学术界的传统派认为，要让计算机处理语言，必须教它人类的领域知识（例如语法规则）。\n\n但Peter Brown和团队却大胆选择了一条背道而驰的路线——坚持使用纯数据驱动的统计方法，完全不输入语法知识，而是让机器从数据中自行寻找概率模式。\n\n这一做法在当时备受冷遇，甚至连他们发表的论文也惨遭审稿人“嘲讽”：\n\n> “机器翻译信息论方法”早在1949年就由沃伦·维弗（Warren Weaver）提出，但到1950年时已被学术界普遍拒绝。\n\nPeter Brown自述，虽然论文最后还是被接收了，但这一“刻薄的评语”给他留下了深刻印象，于是后来还把这一评语挂在了书房墙上以在遭遇质疑时自勉。\n\n而除了路线，他们还面临着数据和算力方面的挑战。为了搜寻数据，他们甚至连IBM反垄断诉讼中的证词都没放过。至于算力，Peter Brown透露过：\n\n> 当时使用的IBM大型机算力甚至不如现在的手机。\n\n\n“深蓝”的幕后推手\n\n不过，在如此艰难环境下（IBM当时已经算很好了），IBM还是交出了后来影响世界的“深蓝（Deep Blue）”系统。而“深蓝”的推出，实际上也离不开Peter\nBrown这位幕后推手。\n\n据Peter Brown自述，有一次他在洗手间偶遇了IBM计算机科学副总裁Abe Peled，于是赶紧抓住机会提议：\n\n> IBM只需投入100万美元建造一台能击败世界冠军的国际象棋机器，其带来的广告价值将不可估量(当时公司都觉得在超级碗中插播广告太贵）。\n\n听完这话，Abe Peled起初显得有些恼火，但半小时后便回电同意拨款。不过由于他当时忙着研究语音识别，于是另外推荐了三位研究生好友加入IBM负责具体推进。\n\n后来他还亲自将这台机器命名为“深蓝”，而“深蓝”也不负众望，在1997年击败了国际象棋大师卡斯帕罗夫。据悉这一成就让IBM的市值在赛后一度飙升了20亿美元。\n\n\n因经济压力加入文艺复兴，一手缔造“神秘赚钱机器”\n\n然而，在IBM干得还不错的Peter Brown很快便由于家庭财务压力，决定转型跳槽。\n\n当时家里迎来了一位新生儿，生活压力骤增，而西蒙斯愿意出IBM双倍薪酬邀请他加入文艺复兴基金。\n\n于是迫于现实压力，Peter Brown决定从巨头IBM跳到了当时还名不见经传的文艺复兴：\n\n> 在那次开价后，我回到家，看了一眼刚出生的女儿，意识到我别无选择。所以，离开计算语言学去一家无人知晓的小型对冲基金的决定，完全是出于财务原因。\n\n而一进入这家基金公司，Peter Brown很快发现这里的程序员虽然聪明，却缺乏构建大型系统的经验。\n\n于是他和另一个从IBM一起跳槽加入文艺复兴的成员Robert Mercer，引入现代计算机科学方法重写了整个股票系统，并在后来被委任负责股票交易。\n\n从2002年西蒙斯决定退休开始，这两人也开始接管公司除行政外的所有赚钱业务。\n\n直到2009年，西蒙斯正式退休，而他们也成了这家基金公司的联席CEO。2018年，随着Robert Mercer卸任，Peter\nBrown成了文艺复兴公司唯一的CEO。\n\n文艺复兴这家公司，外界对其最深刻的印象便是“神秘”与“暴利”。它不对外募集资金，仅管理公司员工和少数老客户的资产，却凭借远超同行的收益率，被誉为华尔街“最赚钱的机器”。\n\n其旗舰产品——大奖章基金（Medallion\nFund），自1988年至2019年的三十余年间，创造了年化超66%的惊人净回报率（扣除高昂管理费前），成为投资界无法复制的神话。\n\n这家公司的核心武器，正是由数学家和计算机科学家驱动的、完全依赖历史数据与量化模型的系统化交易。\n\nPeter Brown也表示，自己倾向于招聘完全没有金融背景的数学家和物理学家：\n\n> 教会科学家市场知识比教会金融从业者高级数学要容易得多。\n\n另外值得一提的是，文艺复兴的成功也离不开Peter Brown这位“工作狂魔”的努力。\n\n他自述每周会工作80小时，经常在凌晨2点开始发送工作邮件，截至2023年已累计在办公室里睡了近2000个晚上。\n\n如此付出也让他快速斩获了巨额财富——\n\n早在2012年，Peter\nBrown就因公司业绩突出登上福布斯全球对冲基金经理收入榜，当时作为联合CEO，他从公司约33%的净收益中获得了约1.25亿美元的收入，早早跻身了亿万富翁。\n\n而也是差不多那一年，他的博士导师Hinton，也有着自己的人生困境和选择。\n\n他通过一场载入史册的拍卖会，把自己卖给了谷歌。\n\n后来他自曝过，因为缺钱。\n\n\nHINTON的伟大总是后知后觉\n\n2013年，已经在学术界耕耘数十年、且刚刚凭借AlexNet引爆深度学习革命的Hinton，却做出了一个出乎所有人意料的决定——\n\n以近乎拍卖的方式，把自己“卖”给了谷歌。\n\n后来人们才知道，促使Hinton做出决定的理由并不复杂，甚至有些朴素——缺钱。\n\n他曾公开提到，自己有一名患有学习障碍的儿子，因为担心孩子未来无法独立生活，所以这才不得不“为了五斗米折腰”加入谷歌。而加入谷歌的这一年，Hinton已经64岁了，一个常人已经普遍退休颐养天年的年纪。\n\n那时候Hinton的身体条件算不上好，后来来看，几乎是以“托孤”心态来做的个人变现。\n\n但即便如此，Hinton也始终显得独立。\n\n在计算机这样的应用科学领域，富学生之上很少有穷导师，既有合作之中的相互回馈，也有人情世故里的裙带门阀。\n\n但Hinton不同，甚至直到最近被“考古”，不少人才发现原来Hinton还有Peter Brown这样的亿万富豪学生，而且是第一个博士生。\n\n不过如果对Hinton有更长时间维度的知人论世，也不难找到背后的文脉相通。\n\nHinton其人，出生于一个科学贵族世家。如果AI或者科学界有“老钱”，Hinton一家就是老钱。\n\n这是Hinton被整理的家族成员图谱，科学巨人世家，“四世三公”——\n\n曾曾祖父是布尔代数的发明者、曾祖父最早系统性提出了“四维空间”的概念、曾姑母创作了《牛虻》、父亲是一名昆虫学家……\n\n而且他的姑妈Joan Hinton还是一位核物理学家，说英文名大家可能不熟悉，但中文名寒春应该还是有人听过。\n\n寒春曾以费米学生的身份加入曼哈顿计划，是该计划中为数不多的女科学家，后因目睹核爆危害后转向反核与和平事业。\n\n在人生后半程，她长期定居中国并投身农业机械化与奶牛养殖——一度被誉为“从曼哈顿计划走来的中国奶牛专家”，同时也是最早拿到中国绿卡的一批人，如今北京昌平的农机院还有寒春塑像。\n\n实际上，初中课本里的《邓稼先》还提到过寒春——\n\n当时老有谣言传寒春参与了中国原子弹工程，于是杨振宁写了一封信给邓稼先，问他到底有没有这回事，而邓稼先在回信中明确澄清了此事。\n\n这也算是科学界千丝万缕交集里的“量子纠缠”了。\n\n所以对于Hinton，了解他的身世，也就能更容易理解他身上的某些坚持与气质。\n\n当全世界都不看好神经网络时，他可以默默忍受数十年如一日的寒冬，板凳一坐十年冷。\n\n当资本都在为AI狂欢时，他却毅然离开谷歌，因为想更独立地站出来宣讲背后的风险。\n\n美国嫌他老生常谈，他就面向欧洲，欧洲听不进去，他就克服腰疾跑到中国让更多有能力影响AI进程的中国人参与进来。\n\n老爷子总是不合时宜。\n\n但Hinton又始终在一次次更长的时间维度检验中，彰显着伟大。\n\n他似乎是一位严师，因为很少公开夸赞自己的学生——最知名的一次还是诺奖获奖后对Ilya的称赞，因为Ilya因为山姆·奥特曼唯利是图下不顾AI风险而开除了他。\n\n古今中外，不乏知名的老师评价自己的成就时，会把学生的世俗成功作为核心标准。带出了多少身居高位的人，有多少亿万富豪的学生……\n\n但Hinton代表的是另一类，壁立千仞，超脱世俗。\n\nHinton几乎没有用Peter Brown的成功来证明过自己的成就，甚至直到最近，不少人才知道“穷困半生”的Hinton还有Peter\nBrown一样的亿万富豪学生……他穿越黑夜，穿越冷雨，穷且益坚，然后在时间的检验中获得认可、证明和嘉奖。\n\n中国古语说：岁寒，然后知松柏之后凋也。\n\nHinton其人，松柏长青。\n\n参考链接：\n[1]https://x.com/deedydas/status/2003142300101485048\n[2]https://www.goldmansachs.com/insights/goldman-sachs-exchanges/09-11-2023-peter-brown.html\n[3]https://en.wikipedia.org/wiki/Peter_Fitzhugh_Brown\n[4]https://x.com/t6aguirre/status/1843655707826237864\n\n\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "吴恩达：图灵测试不够用了，我会设计一个AGI专用版\n\n> 鹭羽 发自 凹非寺\n> \n> 量子位 | 公众号 QbitAI\n\n新年新气象！AI大神吴恩达2026年目标公开：\n\n要做一个新的图灵测试，他称之为图灵-AGI测试。\n\n光看名字就知道，这个测试专为AGI而生。\n\n去年是AGI水涨船高的一年，吴恩达在其年度总结中也曾表示：\n\n> 2025年或许会被铭记为人工智能工业时代的开端。\n> \n> 创新推动模型性能到达新的高度，AI驱动的应用变得不可或缺，顶尖企业人才争夺激烈，基础设施建设推动社会生产总值增长。\n\n学术界和工业界频繁提及AGI概念，硅谷的公司也会为抢先AGI定下季度目标。\n\n但关于AGI的定义至今还没有统一标准，现有基准测试还常常误导大众，使其高估当前的AI水平。\n\n吴恩达注意到该趋势，于是新的图灵测试将试图弥补这一空白。\n\n正如网友所言：\n\n> 要衡量智能首先要定义智能。\n\n\n图灵-AGI测试设想\n\n传统的图灵测试在AGI时代显然不够用。\n\n它由艾伦·图灵在上世纪五十年代提出，提出用人机对话来测试机器的智能水平。\n\n在测试过程中，人类评估者需要确定他们是在与人还是与机器交谈。如果机器能够成功骗过评估者，那么就算通过了测试。\n\n但现在的AI显然不再满足于简单的对话交互，而是要构建起经济有用的系统，所以亟需一个能够衡量AI工作能力的测试。\n\n而这就是图灵-AGI测试的核心，要让AI像人类一样智能，并完成大部分的知识型工作。\n\n测试对象将会是AI系统或专业人士，他们将会被提供一台可以访问互联网并配备浏览器和Zoom等软件的计算机。\n\n裁判将通过计算机为测试对象设计一个多日的体验任务，比如作为客服，会先被培训一段时间，然后要求执行接听电话的任务，并需要提供持续的反馈。\n\n只要AI能够像人类一样熟练完成工作任务，就会被认为通过测试。\n\n该测试将聚焦AGI的经济性和实际产出，更接近普世意义下对AGI的初始定义——可用于工作和生产场景的智能。\n\n它也会比基准测试更考验AI的通用能力。\n\n现在几乎所有的AI基准测试，如GPQA、AIME、SWE-bench等，都会预先确定一个测试集。这意味着AI团队都会直接针对已发布的测试集来调整他们的模型。\n\n这就导致很多AI模型榜单排名靠前，但真实物理世界中又能力不够。\n\n去年闹得沸沸扬扬的Llama 4刷榜丑闻就是其中一个典型，明明数据看起来都很不错，但用户真正上手后却傻眼了。\n\n此外，固定测试集只能衡量AI在某一狭窄领域的能力。相比之下，图灵测试可以由评委自由提出任意问题，没有提前限定范围，更能判断系统在通用任务上的表现。\n\n在改进的图灵-AGI测试中，延续了这一设定，裁判可以任意设计体验任务，而受测试的AI或人类测试者均不会事先知道任务内容，这将比基准测试更能判断AGI水平。\n\n同时为了校准社会对AI的期望，吴恩达表示，或许他将举办一场图灵-AGI测试，让所有AI参与其中。\n\n即便最后的结果会是所有AI系统均未能达到标准，但也能平息长期以来对AGI的过度炒作。\n\n这种降温将会为AI领域创造更稳健的环境，让行业重新聚焦于非AGI级别的实际进步，比如开发有实用价值的应用，而不是沉迷于实现AGI的营销噱头。\n\n从长期来说，图灵-AGI测试也会为AI团队设定一个具体的努力目标，而非模糊地实现人类级智能。\n\n倘若真有某一家公司能够通过测试，其成果也必定具备真实价值，图灵-AGI测试将会为真正的AGI突破提供可信的判定依据。\n\n所以接下来，只需拭目以待。\n\n参考链接：\n[1]https://x.com/AndrewYNg/status/2008578741312836009?s=20\n[2]https://www.deeplearning.ai/the-batch/issue-334/\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "DEEPSEEK V4爆料：春节档GPT/CLAUDE编程危\n\n春节临近，今年DeepSeek又要给世界一点震撼了。\n\n外媒The Information消息称，两位直接了解该计划的知情人士向其透露，2月中旬春节前后DeepSeek将发布V4，时间可能会调整。\n\nDeepSeek-V4主打编码能力，内部初步测试结果显示，已超越Anthropic的Claude、OpenAI的GPT系列等现有其它模型。\n\n两位知情人士还补充道，V4的核心突破还体现在两个方面：\n\n在超长代码提示词的处理与解析上实现了关键突破。\n\n在整个训练流程的全阶段，其数据模式理解能力均未出现性能衰减，且较前代模型有显著提升。\n\nPS：AI模型的训练过程，要求模型反复从海量数据集中学习。但在实际操作中，随着训练轮次的不断增加，模型对数据模式的捕捉能力往往会出现衰减。对于拥有大量AI芯片储备的开发者而言，解决这一问题的常规手段，是通过增加训练轮次来弥补性能损耗。\n\n用户在实际使用中很可能会发现，V4生成的答案逻辑更清晰、结构更规整。这表明，模型具备更强的深度推理能力，在处理复杂任务时的可靠性也将大幅提升。\n\n值得一提的是，有网友注意到DeepSeek-V3.2论文中有提到他们用大模型竞技场平台（ChatbotArena）进行人类偏好评估。\n\n所以，我们或许可以更早地在大模型竞技场上测试到该模型。\n\n参考链接：https://www.theinformation.com/articles/deepseek-release-next-flagship-ai-model-strong-coding-ability?rc=jn0pp4\n\n \n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "蚂蚁再把医疗AI卷出新高度！蚂蚁·安诊儿医疗大模型开源即SOTA\n\n> 鹭羽 发自 凹非寺\n> \n> 量子位 | 公众号 QbitAI\n\n就在医疗AI赛道激战正酣时，一个搅局者低调入场了。\n\n依旧是蚂蚁，依旧「SOTA」！\n\n它就是蚂蚁集团联合浙江省卫生健康信息中心、浙江省安诊儿医学人工智能科技有限公司开源的医疗大模型——蚂蚁·安诊⼉（AntAngelMed）。\n\n一经发布就登顶多项医疗基准测试榜单。\n\n不讲什么噱头，也丝毫不喧嚣，它用数据和排名说话：\n\n在OpenAI发布的HealthBench评测中强势霸榜开源模型第一，超越Baichuan-M2和gpt-oss-120B。\n\n并横扫MedAIBench、MedBench等权威医疗榜单。\n\n它也是迄今为止参数规模最大的开源医疗模型，足足有100B。\n\n应用门槛相当低，即使是在中小型医疗机构，AntAngelMed也足以支撑起实时多轮交互和规模化部署，是真正能够落地跑起来的模型。\n\n它为行业示范出一条清晰明确的路径——通过“专、精、稳”三位一体，构建通用智能+医疗专长的全栈能力闭环。\n\n环顾全球，AI医疗正在成为一场关乎全人类健康的数字化变革。\n\n李飞飞团队发布的斯坦福《2025 AI Index Report》中明确指出，AI已经从实验室正式走向临床和实际应用。\n\n研究表明，AI比专业医生在诊断复杂临床病例时表现更优，而AI与医生的协作往往能取得最佳结果。与此同时，一系列医疗专用大模型也呈现出持续涌现的态势。\n\n蚂蚁则在用实际行动全面押注这一赛道。\n\n\n开源即登顶多项权威医疗榜单\n\n具体来说，AntAngelMed是蚂蚁集团联合浙江省卫⽣健康委共同研发的开源医疗大模型，从诞生之初就是专为真实医疗场景所设计的。\n\n这也充分体现在模型的基准测试表现上。\n\n比如由OpenAI在去年发布的医疗健康领域评估测试集HealthBench，来自全球60个国家、262名医⽣共同构建，包含5000种多轮医疗对话场景，评分标准涵盖准确性、完整性、沟通质量、情境感知等多维度。\n\n在面对DeepSeek-R1、Qwen3、OpenAI GPT-OSS等一众开源模型，AntAngelMed以62.5的评分拿下第一。\n\n更进一步，在HealthBench的子集HealthBench-Hard（专为困难场景设计）上，AntAngelMed同样稳居榜首。\n\n这也是继Baichuan-M2后，唯二打破HealthBench-Hard\n32分魔咒的开源模型，要知道在HealthBench-Hard刚发布时，其困难程度一度让所有模型都拜倒在32分之下，甚至当时还有很多顶尖模型都直接挂零。\n\nAntAngelMed的表现足以证明，其在最真实也最容易出错的复杂医疗环境中，仍然能够表现稳定，专业度拉满。\n\n在由国家⼈⼯智能应⽤中试基地（医疗）·浙江、中国医学科学院北京协和医学院、中国信息通信研究院三⽅共建的权威测评体系MedAIBench中，AntAngelMed同样表现突出，尤其是在医疗知识问答、医疗伦理安全等多个核心维度上优势显著。\n\n这侧面说明，模型不是在医疗基础知识或者临床诊断这类单一科目上能力强劲，而是整体医疗水平均衡，短板够长、专业够全面，容错率也会更低。\n\n而在面向中文医疗场景的医疗大模型评测体系MedBench时，AntAngelMed依旧位列⾃测榜单第⼀。\n\nMedBench拥有36个自主评测集，约70万条样本，最关键的是它区别于很多以英文为主的国际benchmark，更偏向于本土医疗体系，在表达上也更贴合国内问诊场景。\n\nAntAngelMed在医学知识问答、医学语⾔理解、医学语⾔⽣成、复杂医学推理、医疗安全与伦理五⼤核⼼维度上稳定领先，展现出与基层临床流程的高度适配和无缝集成。\n\n以日常生活场景为例，我们向AntAngelMed提问：\n\n> 我最近总是头晕，可能是什么原因？\n\n生成速度很快，几乎是秒入秒出。\n\n仔细看思考过程，它首先提及的是要照顾用户情绪，在给出答案时避免引起恐慌。\n\nnice！这波人性化必须好评，毕竟之前每次上网搜症状，都感觉自己得了绝症……（慌张.jpg）\n\n在给出具体建议时，它也会基于自身医学知识，仔细分析症状表现，找到最契合的成因。\n\n结构上逻辑严谨，从共感→原因分析→建议→鼓励，全方位解决用户需求。\n\n最终给出的答案也很专业暖心，感觉像是在和一位主任级医生面对面就诊。\n\nP.S.不过正如AntAngelMed所说，症状加剧时一定要及时就医哦～\n\n接着让AntAngelMed试着解读专业术语：\n\n> 我的一份乳腺癌手术病理报告显示：ER(90%+)，PR(80%+)，HER2(1+)，Ki-67(15%)。请解释这些指标代表什么？这对我的分型和后续治疗方案意味着什么？\n\n在肿瘤病理报告中，免疫组化（IHC）指标是决定癌症治疗方案（如化疗、靶向、免疫治疗）的关键，而指标组合又极其复杂。\n\nAntAngelMed首先用通俗易懂的语言解释了这几个相关指标的含义，对于极少接触专业医学知识的普通人，或者需要查找狭窄领域信息的专业医生来说，颇具参考价值。\n\n此外，它也能准确识别出癌症亚型，给出倾向于激素治疗而非靶向治疗的参考意见。\n\n值得关注的是，AntAngelMed还会告知用户接下来可以去挂哪些科室，以及可以询问主治医师哪些问题。\n\n对于本看病困难星人，实在是暖暖的、很贴心～\n\n整体感受下来，AntAngelMed既像一个无微不至的家庭医生，也像一位经验丰富的专家学者，无论是个人、医生、医疗机构，或许都能从中找到最适合的匹配方案。\n\n\n既要专业度，也要人情味\n\n那么AntAngelMed是如何做到的呢？\n\n要厘清思路，首先需要回到模型本身。\n\nAntAngelMed继承了百灵⼤模型Ling-flash-2.0的⾼效混合专家（MoE）架构，并建立起三阶段的训练过程：\n\nStep 1：持续预训练。\n\n通过持续预训练，大量的临床指南、医学文献等高质量知识被融入进模型参数中，让模型与知识深度融合，能够自然地以专业医学角度进行思考和表述。\n\n换言之，这是在为医学AI打下最坚实的地基。\n\nStep 2：监督微调。\n\n为了解决真实场景应用的问题，在这个阶段里，指令数据兼具多种类型的表述形式，能够增强模型的通用推理能力，学会分步思考和多方案权衡。\n\n另外，模型的人性化也同步得到提升，要知道医患问答不等同于学术问答，模型的输出如何能够更贴近真实医生的表达，这是关键。\n\nStep 3：GRPO强化学习算法+双阶段强化学习路径。\n\n这一步决定模型最终能不能被真实使用。\n\nGRPO强化学习算法的引入，让模型对复杂任务的处理更加得心应手，也能更好地对齐人类价值，约束模型安全边界。\n\n其中双阶段强化学习又分为两步：\n\n * 推理强化学习：保障模型的推理逻辑严谨，避免中途跳跃。\n * 通用强化学习：强化模型的行为风格，明确指导风险。\n\n最终二者结合，共同推动模型朝着专业、克制又能共情的方向演化。\n\n为了实现模型效率与性能两手抓，在原有的Ling-flash-2.0架构上，模型也在一系列核心设计上进行了全面优化，比如1/32激活⽐例、⽆辅助损失+Sigmoid路由策略、MTP层以及Partial-RoPE等。\n\n最终帮助模型在参数规模相近的情况下，实现了相比Dense架构的7倍效率提升，模型计算成本同步得到大幅度降低。\n\n要让模型跑得快、跑得稳，还需要进行推理加速。\n\n这里采用的是FP8量化+EAGLE3优化：\n\n前者负责将模型推理时的数值精度压缩到FP8，可显著减少内存占用以提高计算吞吐；而后者主要用于抑制FP8量化带来的数值抖动，在效率与稳定性中找到最优解。\n\n最终在真实线上医疗系统的典型负载32并发场景中，实现推理吞吐的稳步提升：HumanEval提升71%，GSM8K提升45%，Math-500提升⾼达94%。\n\n\n蚂蚁医疗AI布局有迹可循\n\n不难看出，AntAngelMed反映了蚂蚁对医疗AI领域的洞察细致入微，因为近一线所以懂行业痛点，因为有技术所以懂如何改进。\n\n所以AntAngelMed才能从一众医疗大模型中脱颖而出，做到真实环境中也可以智商情商双在线，而非仅仅局限于基准测试的demo。\n\n可以说，AntAngelMed的出现，进一步完善了蚂蚁在医疗AI领域的布局。\n\n技术层面，AntAngelMed可以作为最坚实的基座模型，承载起AI在专业场景的规模化落地，解决的是蚂蚁最底层的技术需求。\n\n它走的不是通用大模型+Prompt的基础医学问答路线，而是深度对齐医学语料、诊疗流程和医学推理链后，完成的专业性更强的诊疗推理。\n\n国内外目前也有越来越多模型正在推进这一相似的范式转移。\n\n显然，蚂蚁已率先预见到这条路线的正确性，并沿着它一路狂飙，来到了收获成果的阶段。\n\n产品层面，蚂蚁也建立起了以面向用户的AI健康管家、面向医生的好大夫在线、面向机构的医疗大模型一体机为代表的三端一体产品矩阵。\n\n从患者、医生到机构，蚂蚁的AI产品全方位覆盖医疗服务体系，满足从下至上每一个角色对AI医疗的切身需求。\n\n组织层面，蚂蚁在去年年末，完成了一次相当重要的战略调整，将原来的数字医疗健康事业部正式升级为蚂蚁健康事业群。\n\n从事业部升级为事业群，这意味着医疗健康不再是蚂蚁的补充业务，而是正式成为与支付宝、数字支付、财富保险、信贷并列的核心板块。\n\n可以预见的是，蚂蚁未来会将更多资源和精力倾向给AI医疗，而AntAngelMed还只是蚂蚁正式入局的开端。\n\n那么为什么要选择做医疗AI呢？\n\n归根结底在于通用大模型和专业场景存在鸿沟，缺乏相关领域的知识、难以进行复杂任务的决策，以及对话交互不等同于有效协同。\n\n而专业智能体是把通用智能拆解、工程化，本质上是将不确定性约束在具体的产业里，只有这样才能实现大模型的生产价值最大化。\n\n医疗则是其中最具代表性的练兵场，医疗的核心不是操作，而是智能密度最高的认知、推理和决策。\n\n对于大模型来说，这是一块试金石，能倒逼大模型完成深度优化，推动模型向其它基础领域迁移。\n\n而这个领域恰好还刚刚起步，有足够大的蓝海可以探索。\n\n与此同时，蚂蚁也有做医疗AI的底气，多年来蚂蚁深耕支付、医保领域，为打通医疗AI提供了坚实的数据基础。\n\n由此，在这条隐秘的医疗战线里，蚂蚁无疑会成为走得最久、也最深的先行者。\n\nP.S.目前AntAngelMed模型系列已在平台开源，可访问官方开源仓库下载使⽤：\n\nHuggingFace：https://huggingface.co/MedAIBase/AntAngelMed\nModelScope：https://modelscope.cn/models/MedAIBase/AntAngelMed\nGitHub: https://github.com/MedAIBase/AntAngelMed\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "太初元碁发布国产高兼容性虚拟指令集PCX及高性能工业级编译器PCXAC\n\n日前，国产AI芯片企业太初元碁发布首个高兼容性虚拟指令集PCX及高性能工业级编译器PCXAC，并上架至其官网文档中心平台。\n\nPCX（Parallel Computing eXecution）是太初元碁推出的与具体硬件架构无关的虚拟指令集（Virtual\nISA），通过对底层的各类计算单元（如计算核心、存储架构）进行逻辑抽象，提供了稳定且可移植、可扩展的并行计算模型，具有强兼容特性，能够显著降低跨硬件平台的迁移成本。\n\n据了解，PCX虚拟指令集可实现多层次存储等级抽象与多线程并行编程模型，囊括有符号整数、无符号整数、布尔类型、浮点类型、向量类型、字节数组、字符串等不同数据类型。支持用户在SDAA\nC程序中嵌入PCX指令，实现对关键计算路径的精细优化，有效提升程序在硬件上的执行效率。SDAA\nC高级编程语言和TecoPyTorch、Teco-vLLM等深度学习框架通过使用PCX虚拟指令，屏蔽了太初元碁不同系列硬件的机器指令和微架构的差异。\n\nPCXAC是PCX虚拟指令集的编译系统，由太初元碁自主研发，能够将PCX虚拟指令转换为指定系列的太初AI加速卡的机器指令，从而屏蔽不同系列硬件的底层差异，即同一版本的PCX指令集可以在太初元碁多种系列的硬件上直接编译并高效执行，将程序与不同系列的硬件解耦，有效解决硬件迭代快，软件适配成本高的问题。\n\n同时，PCXAC提供完整的开发者分析工具集，包括静态检查工具和动态检查工具，覆盖从编码到运行的全流程，助力用户更早发现、更快定位潜在缺陷，提升开发效率与代码质量。其中，静态检查工具在PCX指令编译期间，提前预警内存泄漏等隐患；动态检查工具可在PCX指令执行期间，动态检测越界访问、未初始化使用等深层问题。\n\n作为一款工业级轻量编译器，PCXAC仅需基础编译环境即可运行，减少开发环境搭建的复杂度与兼容性问题，开发者可快速启动编译工作，降低环境配置成本；且在编译过程中对系统资源占用少，避免因编译器运行导致的资源争抢，提升资源利用率。\n\n当前，国际主流指令集存在高技术壁垒问题，编译器性能瓶颈凸显，导致不同硬件平台间迁移成本高、硬件算力难以充分释放，从而制约了国产智算算力规模化落地应用。\n\n太初元碁官方消息指出，在其T100 加速卡上，太初元碁对深度学习算子（卷积、规约等）进行严格的单卡性能对比测试。\n\n实测结果显示：使用 PCX 虚拟指令集编译生成的程序，其运行时性能较基于 LLVM 编译的版本有大幅提升。\n\n实测数据表明，PCX 能够深度适配国产硬件，且其编译器 PCXAC 能够充分将硬件算力转化为性能优势。PCXAC在性能上超越了业界主流的\nLLVM，充分释放硬件算力。PCXAC 相较 LLVM 的性能提升，不仅证明 PCXAC\n编译器在国产算力转化效率上的领先性，更预示着在实际场景中能够大幅降低训练与推理的时间成本。\n\n据介绍，太初元碁通过参与开源生态建设与软件栈生态搭建，为开源社区、个人开发者提供全方位国产智算算力技术支持。目前，太初元碁已在包括GitHub、Gitee、Atomgit等平台深度参与paddle、Torch、OpenDataLab、HuggingFace、Vllm、DeepSpeed、Lightning等多个开源社区/项目的建设，并在GitHub平台上开放了多个已适配太初AI加速卡的开源项目来为开发者赋能。同时，依托主流AI社区Torch生态，通过系统性攻坚与开放协作，太初元碁联合10余家高校，累计适配600余个主流及垂直领域模型，迁移超200个长尾Torch生态算子至太初SDAA生态上，并凝聚超120高校开发者深度参与共建，推动人工智能技术在国产加速卡上深度普惠。\n\n\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "华为小米蔚来抢爆新年新车申报！都很豪华\n\n杀疯了，新年第一批新车申报，真杀疯了！\n\n申报文件深夜突袭，今年多款重磅新车亮相：\n\n蔚来最大SUV、鸿蒙智行首款MPV、改款小米SU7、极氪8X、奔驰纯电GLC……一起蜂拥而至。\n\n半分喘息的时间都没有，2025年激战刚落幕，2026年的硝烟已经在弥漫了。\n\n\n蔚来最大SUV：蔚来ES9\n\n外观上看，蔚来ES9的风格和全新ES8类似，前备箱有所变动，相较ES8更偏商务。\n\n从图片就能感受到尺寸带来的压迫感，车身尺寸为5365/2029/1870mm，轴距3250mm，比全新ES8还长85公分，现在是蔚来最大的SUV。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/9e850e14812f1a422fd1f77b36b6d6f2.png]\n\n不过ES9在轻量化上有了更多体现，整备质量2845/2870/2915kg，没超过3吨。\n\n定位是纯电大三排SUV，布局有6/7座两种可选，据说第三排空间会很充裕。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/b2a2827b540a0b3625de9f46a4e9b53f.png]\n\n动力方面，搭载前180kW+后340kW双电机，综合功率700马力，最高车速220km/h。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/56937e0e18a55c0c0d6ab4301990e835.png]\n\n轮毂有6款样式，可选装双色车身、电动踏板、前灯组装饰件。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/b554422bf08d3982a6bbf3d1cf2d3758.png]\n\n车尾、车窗标识这里暗示，会有地平线特别版。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/1ca2d02a8300983c2d079b08bd9da919.png]\n\n根据李斌前几天透露的信息\n[https://mp.weixin.qq.com/s?__biz=MzkzOTE3Nzc5MA==&mid=2247553544&idx=1&sn=3020f8f885a13faf7ef2c6277898c91d&scene=21#wechat_redirect]，ES9预计发布时间是在今年第二季度，很多ET9的技术都会上车。\n\n外界预计，这些技术可能包含天行底盘、线控转向、900V架构等等。\n\n斌哥表示，ES9会和ES8一样成功，能成为“最成功的纯电车型”。在外界看来，这款车也是蔚来月销冲5万台的关键。\n\n另外，乐道品牌也在本批次申报中出现，分别是乐道L90、乐道L80的激光雷达版。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/2750c64dc95a6b820dcb17bbcf7d5a72.png]\n\n乐道L90新增了激光雷达，可选双色车身、新样式的侧转向灯和轮圈。\n\n乐道L80的整体外观，和乐道L90很像，可以近似理解为“大5座版乐道L90”，也推出了激光雷达版本。\n\n外界推测，激光雷达版车型可能用上了神玑芯片。\n\n蔚来高级副总裁、乐道总裁沈斐透露，带激光雷达的车型，售价会比现款高，计划今年二季度推出，会和现有版本同步销售。\n\n\n鸿蒙智行首款MPV：智界V9\n\n新车目录里，另一位“9”系重磅新车，是智界旗下第三款车智界V9。\n\n这也是鸿蒙智行的首款MPV，对标的是理想MEGA、极氪009、丰田埃尔法等车型。\n\n外观的设计风格上，相较于智界前两款车，智界V9其实更接近问界M9一点。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/406aaceb6bf58fb2bf54fd53f4dfabf3.png]\n\n车身尺寸为5359/2009/1859mm，轴距3250mm；车内是“2+2+3”的三排七座布局。\n\n第二、三排座椅靠背都可以前后滑动，第三排还能折叠在坐垫上。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/fd4bb5b79bedfd5ddc67f63088d51d59.png]\n\n可以选装不同色前格栅饰条、前格栅造型、前大灯造型、镀银玻璃、轮辋造型等等。\n\n动力方面，智界V9目前只申报了增程版本。根据公开信息，智界V9会搭载华为雪鸮智能增程系统，增程器最大功率为115kW。\n\n华为巨鲸电池上车，CLTC综合续航里程最高能到1250+km。\n\n同时，智界V9还会搭载新一代华为乾崑智驾硬件、满血版华为途灵底盘平台，以及最新的鸿蒙座舱系统。\n\n余承东将智界V9称为“旗舰大作”，透露今年春天上市。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/b2ffeb84f60c8c06deff0721e887a39f.png]\n\n除了两款“9”系重磅大车外，还有不少有分量的车型，也出现在这一批申报中。\n\n\n还有什么重磅车型同期亮相？\n\n首先是刚开始小订的新一代小米SU7。\n\n其实在申报前，官方披露的信息\n[https://mp.weixin.qq.com/s?__biz=MzkzOTE3Nzc5MA==&mid=2247553618&idx=1&sn=de65cac217c9d817b0aacea7dc2acb84&scene=21#wechat_redirect]已经相当全面了，预计上市时间是在今年4月，预售价在22.99~30.99万元区间内。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/e19bbdc92a1e0f191ec7b81ae8bcf952.png]\n\n外观上，改款后和现有车型区别不大，主要是新增了20英寸轮毂、红色刹车卡钳，前窄后宽轮胎（前245mm/后265mm）等等。\n\n轮毂有很多款式可选：\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/357c982554a3e5c695103f34b4737c32.png]\n\n接下来是中大型SUV，极氪8X。\n\n车身尺寸为5100/1998/1780mm，轴距3069mm，比极氪9X小一圈，有5座和6座两种布局。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/c360af84bbb86d5a619a149e8c29d5de.png]\n\n动力方面，搭载2.0T插电混动系统，发动机最大功率205kW。\n\n车顶标配激光雷达，辅助驾驶系统预计会搭载千里浩瀚H7方案。\n\n续航方面，预计会采用6C超快充大电池，CLTC纯电续航最高可达380km，综合续航超1200km。\n\n外界猜测，极氪9X同级的三电机兆瓦电驱、浩瀚AI数字底盘、48伏主动稳定杆也会一同上车。\n\n再来看零跑本次申报的两款车型：零跑D19和A10。\n\n这两款车，实际去年都已经亮相过，现在登上申报名单，也意味着准备正式开启新一轮的产品周期。\n\n零跑A10，尺寸4270/1810/1635mm，轴距为2605mm，属于纯电小型SUV，五座布局。\n\n全系标配高通8295P座舱芯片，顶配版本搭载激光雷达+8650智驾芯片，支持城市NAP高速领航、记忆泊车及车位到车位全场景辅助驾驶功能。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/726812940276433b168c98a531b68b9d.png]\n\n而且定位是10万以内，是同级首个配备激光雷达的车型。\n\n预计今年上半年量产交付，被视为零跑今年冲击百万销量的关键。\n\n而零跑D19，预计今年4月上市交付，则是零跑冲击“高端”层级的重磅车。\n\n长5252mm，宽1995mm，高1800/1780mm，轴距为3110mm，有6/7座可选，提供增程和纯电两个版本。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/dc21460b4eac594a743276b9c8b06770.png]\n\n电池标配宁德时代，增程版是80.3kWh超混电池，CLTC纯电续航达500公里；纯电版是115kWh电池，配备1000V高压架构。\n\n最后还有一款车，是全新纯电奔驰GLC。\n\n这款车去年9月在德国全球首发，这次申报的是国产加长轴距版。\n\n新车尺寸长4949/4933mm，宽1970/1914mm ，高1710/1690mm，轴距为3027mm。\n\n[https://i.qbitai.com/wp-content/uploads/2026/01/e50a2ed400c6a8a1b994b1286e685b34.png]\n\n造型进行了重新设计，特别是前脸，采用大尺寸封闭式前格栅，纯银色大尺寸中网。据梅赛德斯-奔驰CEO康林松透露，这是致敬了经典车型300 SEL 6.3的大格栅。\n\n新车搭载宁德时代电池三元锂电池，续航还没有公布；前后双电机由博世、奔驰联合生产，最大功率分别为163kw和300kw。\n\n2026年这才一开始，工信部已经提前过年，重磅新车扎堆准备上新。\n\n车圈的2026，只会更惨烈…\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "清华AI找药登SCIENCE！一天筛选10万亿次，解决ALPHAFOLD遗留难题\n\n一天筛选十万亿次，中国AI找药又有新突破！\n\n清华大学智能产业研究院（AIR）联合清华大学生命学院、清华大学化学系在Science上发表论文：《深度对比学习实现基因组级别药物虚拟筛选》。\n\n团队研发了一个AI驱动的超高通量药物虚拟筛选平台DrugCLIP。\n\nDrugCLIP能让AI从海量化学分子里，迅速筛出那些最有希望和疾病相关蛋白结合的“候选药物分子”。\n\n24小时内，DrugCLIP能完成10万亿次蛋白–分子配对计算。\n\n依托该平台筛选，团队打通了从AlphaFold结构预测到药物发现的关键通道，不仅为抑郁症、癌症、帕金森等疾病筛选出了潜在药物分子，还首次完成了覆盖人类基因组规模的药物虚拟筛选。\n\n目前，相关数据已经全部对外开放。\n\n\n90%的蛋白靶点难找药\n\n过去药物筛选的难点，主要集中在三点上，一是慢，二是无从下手，三是范围太窄。\n\n先看一个背景数字。\n\n人体内大约有2万个编码蛋白质的基因，其中的相当一部分与癌症、抑郁症、神经退行性疾病密切相关。\n\n但现实是，目前真正拥有成熟药物的蛋白靶点，只占其中10%，剩下的90%，还没找到药。\n\n第一个原因，慢。\n\n传统的筛选方法，比如分子对接，需要逐一计算“这个分子能不能和这个蛋白结合”，一次评估虽然只要几秒钟或几分钟，但在现实情况下，以筛选1万个蛋白质靶点、每个靶点面对10⁹个候选分子为例，需完成约10¹³次蛋白-配体打分。\n\n即便使用当前最先进的分子对接工具，也得需要2亿CPU天。\n\n第二个原因，无从下手。\n\n很多疾病相关蛋白根本没有实验测出来的三维结构，传统方法无从下手。\n\n而且在真实世界里，没用的分子还远比有用的分子多，这些好分子容易被埋没在噪声里。\n\n第三个，范围太窄。\n\n算力成本摆在这儿，只能围绕热门靶点筛，工作很难在全基因组的尺度上推进。\n\n不过，DrugCLIP正是冲着这三点来的。\n\n\n给蛋白和分子画像\n\n先概括一下它的方法，就是先教会AI为目标进行画像，捕捉其结构神韵，再做极速配对。\n\n研究者用对比学习训练了两个AI编码器。\n\n一个给蛋白质上的结合口袋画像，另一个给化学分子画像。\n\n“结合口袋”是指蛋白质表面能够与小分子结合的特定区域，这里的“画像”是指生成特征向量。\n\n训练时，AI会被明确告知：能结合的一对儿，画像要尽量接近，即对应的特征向量要尽可能相似；不能结合的，画像要尽量拉远。\n\n这样一来，AI就能逐渐学习并掌握蛋白质与分子之间的结合规律。\n\n为了让模型从一开始就领悟这种结构神韵，团队设计了一套创新性的预训练策略。\n\n他们从已有的蛋白质结构数据中，切割出短片段模拟成“假分子”，同时将周围区域当作“假口袋”，一次性构造出了550万组训练样本。\n\n在这套练手数据上打好基础后，再用真实的蛋白-分子数据进行微调，保证了泛化能力和精度。\n\n模型训练完成后，真正的筛选过程就变得简单高效了。\n\nDrugCLIP创新性地将传统基于物理对接的筛选流程转化为高效的向量检索问题。\n\n研究者先把5亿个候选分子全部画像完存起来，当遇到一个新的蛋白口袋时，只需要给它生成一个向量表示，再和所有的分子算相似度、排个名，排在前面的就是最有希望的候选分子。\n\n该模型结合对比学习、3D结构预训练与多模态编码技术，能在三维结构层面精准建模蛋白-配体间的相互作用。\n\n训练后的高潜力分子将自然聚集于目标蛋白口袋的向量邻域，能够有效支撑快速的大规模虚拟筛选。\n\n依托这一机制，DrugCLIP在128核CPU+8张GPU的计算节点上日处理能力达10万亿次，对比传统方法实现了百万倍提升。\n\n\n首次完成了人类基因组规模的虚拟筛选\n\n速度之外，更关键的是它真能找到有用的分子。\n\n在标准的虚拟筛选基准测试DUD-E、LIT-PCBA中，DrugCLIP在把有效分子从大量无效分子中提前筛出来这件事上，明显优于传统分子对接工具和多种已有AI方法。\n\n并且在LIT-PCBA数据集上筛选速度远超其他方法。\n\n而且它对结构误差、陌生蛋白家族、从未见过的分子类型都表现得相当稳定，没有出现“一换场景就失灵”的问题。\n\n实验室验证结果也让人眼前一亮。\n\n以抑郁症相关蛋白为例，研究者从筛选出的78个分子里，找到8个能激活这个蛋白的“激动剂”。\n\n其中最好的一个分子，和蛋白的结合能力达到21nM（数值越小结合越强，100nM以下就是优秀水平），在细胞系中也有显著活性。\n\n团队还与清华大学闫创业教授团队合作，在去甲肾上腺素转运体（NET）这一临床相关靶点上开展了系列生物实验验证。\n\nNET是2024年才刚解析出结构的靶点，是抑郁症、注意缺陷多动症以及疼痛等疾病的重要靶点，目前虽然有多款抑制剂已经上市，但是在选择性等方面仍然有巨大的优化空间。\n\n团队使用DrugCLIP模型从160万个候选分子中筛选出约100个高评分分子，同位素配体转运实验检测显示其中15%为有效抑制剂，其中12个分子结合能力优于现有抗抑郁药物安非他酮。\n\n相关复合物结构已通过冷冻电镜解析，进一步验证了DrugCLIP筛选结果的生物学可信度。\n\nDrugCLIP还支持对AlphaFold预测的蛋白结构和apo（无配体）状态下的蛋白口袋进行筛选。\n\n团队和清华大学刘磊教授团队合作，针对E3泛素连接酶TRIP12（thyroid hormone receptor interactor\n12）的HECT结构域进行了虚拟筛选与实验验证。\n\n当时这是一个既没有实验结构、也没有任何已知抑制剂的蛋白，与癌症和帕金森病密切相关。\n\n团队使用DrugCLIP模型对AlphaFold2预测的蛋白质结构进行筛选，从160万个候选分子中高通量筛选出约50个高评分分子。\n\nSPR实验证实其中10个分子与TRIP12有结合能力，两个亲和力较高的分子也对TRIP12的泛素连接酶活性有一定的抑制活性。\n\n在单靶点验证之外，DrugCLIP还完成了一次前所未有的全局筛选。\n\n研究团队首次完成了人类基因组规模的虚拟筛选项目，覆盖约1万个蛋白靶点、2万个结合口袋，分析超过5亿个小分子，富集出200万余个高潜力活性分子。\n\n构建了目前已知最大规模的蛋白-配体筛选数据库，为后AlphaFold时代的创新药物发现带来了新的可能性。\n\n换句话说，这相当于为人类近一半的蛋白质，都提前找好了潜在的“药物种子”。\n\n该数据库已面向全球科研社区开放。\n\n\nDRUGCLIP团队介绍\n\nDrugCLIP由清华大学智能产业研究院（AIR）博士后贾寅君、计算机系博士生高博文、生命学院博士后谭佳鑫、化学系博士后郑济青以及智能产业研究院（AIR）博士后洪鑫为共同一作。\n\n通讯作者为智能产业研究院（AIR）兰艳艳教授，生命学院张伟副教授、闫创业副教授以及化学系刘磊教授。\n\n该项目得到了国家科技部重点研发项目、国家自然科学基金委项目、新基石研究基金等项目的支持，同时还有清华大学无锡应用技术研究院智能产业创新中心、北京智源人工智能研究院与北京结构高精尖中心等机构的支持。\n\n未来，DrugCLIP将与科研产业生态合作伙伴深度合作，在抗癌、传染病、罕见病等方向加速新靶点与First-in-class药物的发现。\n\n值得一提的是，清华大学智能产业研究院（AIR）还与北京智源人工智能研究院在2021年联合成立了清华（AIR）-智源健康计算联合研究中心。\n\n该中心致力于应用最前沿的人工智能技术赋能健康管理、精准诊疗与新药研发，以数据驱动的全新科研范式突破生命健康领域核心技术。\n\n清华大学智能产业研究院（AIR）首席研究员兰艳艳、智源健康计算研究中心负责人叶启威任联合研究中心主任。\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "一口气集齐老黄苏妈英特尔，还得是AI，还得是联想\n\n> 鱼羊 发自 拉斯维加斯\n> \n> 量子位 | 公众号 QbitAI\n\n豆包手机刚在2025年底掀起关于AI硬件新形态的讨论，2026新年之初，新的风向就已显现苗头——\n\n就在被认为将揭开新一年科技趋势的CES 2026上，一个共识正在各大厂商的行动中浮出水面：\n\n所有的设备都会变成AI设备。\n\n不仅是传统的手机、PC，呈现出更加智能的形态：\n\n智能硬件新物种，呈现的方式也越来越五花八门：\n\n甚至更深层的变化，也开始暗潮汹涌……\n\n比如英伟达老黄、AMD苏妈都在cue的关键词「物理AI」。\n\n以及其背后更广泛意义上的，AI「超级入口」新竞争。\n\n\n决胜「超级入口」\n\n什么是「超级入口」？\n\n在过去的移动互联网时代，超级App们，就是「超级入口」的代表：具有强大的流量聚集能力，连接用户与多种场景，成为用户进入数字世界的主要通道。\n\n历史的经验已经证明，移动互联网时代的赢家们，关键胜负手，正是通过软硬件结合和服务生态，牢牢掌握住了操作系统和应用分发的入口，在「超级入口」竞争中跻身上游。\n\n来到大模型时代，同样的底层逻辑正在显现。\n\n当基础模型竞争逐渐收拢，AI领域的排位赛开始从底层技术导向，向应用层，乃至更全面更复杂的生态层延伸。\n\n前有OpenAI、Qwen推进C端应用，后有英伟达老黄在CES上判断「物理AI的ChatGPT时刻已经到来」，本质上，都指向一个共同的判断：\n\n物理世界和数字世界正在基于AI，产生更加深度的融合。在新的技术发展阶段，想要构筑持续性的竞争壁垒，技术突破之外，还需要通过构建更加全面的生态系统，将用户、技术和AI产业链更紧密地串联起来。\n\n于是，CES 2026一派无智能不终端的气氛中，我们看到围绕「端侧」，新物种持续涌现；「老」设备与AI智能体的结合，正在呈现出更加极致的形态；而整个North\nHall，更是被人和人形机器人挤爆……\n\n百花齐放的背后，更加值得关注的观点也被明确摆上台面：\n\n> 无论是个人还是企业，对人工智能的需求都是不同的，单一的AI模型或AI设备无法满足用户所有需求。\n\n言外之意，大模型落地应用竞争的关键，背后涉及的还不仅仅是单一模型、单一设备的应用生态，跨设备、跨操作系统、协同端云两侧，越来越成为对供给侧的刚性要求。\n\n这样的判断，来自联想集团董事长兼CEO杨元庆。在提出问题的同时，他也给出了联想的思考：\n\n> 整合个人智能、企业智能和公共智能的混合AI，才是打造个性化多样性的AI，推动AI普及普惠的终极路径。\n\nCES 2026上，联想的最新发布在Sphere大球这个拉斯维加斯最盛大舞台上亮相，也罕见集齐英伟达黄仁勋、AMD苏姿丰、英特尔陈立武、高通安蒙等共同现身站台。\n\n\n混合AI是「终极路径」\n\n联想给出的公式是，混合AI=个人智能+企业智能+公共智能。\n\n这种模式下，AI智能体应用不再依赖于单一的云端模型，而是云端大模型与本地定制化小模型的深度融合。\n\n进一步拆解，其核心可以理解为在端侧充分理解用户需求，根据用户个人特质打造专属化AI，同时通过端云协同的多智能体协作，进一步拓展AI处理复杂任务的边界。\n\n具体来说，联想为「混合AI」的目标打造了三大技术支柱：\n\n * 智能模型编排：可以根据用户即时需求匹配最佳模型，在保障安全性和低延迟的同时，降低计算成本；\n * 智能体内核：作为认知引擎，可以像大脑一样深度理解用户意图、分解复杂任务并持续学习，让普通AI智能体成为用户的专属AI超级智能体；\n * 多智能体协作：让AI智能体像团队一样，协同工作以完成更复杂的任务。\n\n并且这一次，联想也给出了更具象的产品形式：全球首款个人AI超级智能体Lenovo Qira（国内称为「天禧个人AI超级智能体」）。\n\n这是一个跨平台、跨设备的AI终端入口，能将用户的手机、电脑、平板、可穿戴设备等不同终端连接起来，高效执行任务。\n\n除了能够跨设备、跨操作系统地调度用户存储在多个设备上的本地模型和个人知识库，建立「端-边-云」一体的长期记忆以进行个性化推理决策之外，量子位还了解到，在正式上市阶段，Qira能做到你用语音在电脑上下达指令，AI能自动把存在手机上的照片、文件传输过来，帮你发出邮件。\n\n同时，凭借情景感知能力，Qira能记住用户偏好、预判需求，以用户期待的方式互动、完成各项任务，同时兼顾隐私保护。\n\nQira还能连接、协调多个AI智能体，整合知识形成洞察，在你使用的过程中越来越懂你、越来越像你，成为用户的个人「AI双胞胎」。\n\n同样的技术逻辑，在企业智能化转型方面亦有体现。\n\n面向ToB市场，联想发布了一系列推理优化服务器产品组合，包括AI推理服务器SR675i、SR650i和边缘计算服务器SE455i，旨在将AI模型带到本地和边缘等离数据源头更近的地方，大幅提升推理效率，降低运营成本，并强化数据安全性，以适应企业多样化、实时化的AI部署需求。\n\n另外，联想还和英伟达合作官宣了「联想人工智能云超级工厂」，将英伟达最新发布的Vera Rubin架构纳入其中。\n\n这一计划旨在帮助云服务提供商极大缩短「time to first\ntoken」AI部署的时间，同时可迅速扩展规模至十万枚GPU，支持万亿参数级别的智能体和大语言模型。\n\n杨元庆进一步阐述了混合AI的未来图景：\n\n> 最终，混合AI将推动实现技术与人携手共进，数字世界与物理世界深度融合。\n> \n> 对个人而言，它能强化人们的感知力、激发创造力，最大化释放潜能。\n> \n> 对企业而言，它将超越流程管理和工作流优化，赋能企业利用自身数据自主决策，蜕变为自我学习、自我重塑的智能实体，开启AI发展新篇章。\n\n\n谁能把握未来？\n\n总结起来，今年的CES给2026定下的其中一个基调是——\n\n智能终端上的「超级入口」，正在成为瞩目焦点。\n\n无论是模型厂商，还是囊括汽车、具身智能在内的终端厂商，都积极地在其中寻找自己的定位：\n\n大模型厂商在找硬件合作伙伴，硬件厂商也开始拓展AI服务和生态，合纵连横产业上下游。\n\n以智能终端为载体，「超级入口」的背后，核心是用户、技术与AI产业链的深度连接；是AI智能涌现时代，用户个性化需求导向的端云协同混合AI模式的崛起。生态聚合能力在新的竞争中将变得更加重要，甚至是得生态者得天下。\n\n在此进程之中，与模型厂商不同的是，像联想这样的玩家更像是处于AI生态链「多轨交汇」的战略要冲。\n\n换言之，可以视作AI 2.0时代「生态玩家」的典型代表。\n\n其优势在于，其一，同时掌握消费级和企业级两套用户入口，能够连通更多的场景和应用经验。\n\n在个人智能领域，联想产品覆盖手机、PC、包括AI眼镜在内的智能新硬件。联想AI PC在个人电脑总出货量中占比超过30%；在全球Windows AI\nPC市场位居第一；「天禧个人超级智能体」在国内发布过后，平均周活跃度已达40%。\n\n加上企业智能，联想最新财报显示，其AI相关业务的营收在集团整体营收中占比达30%，同比增长13%。\n\n其二，联想本身具备软硬一体的能力，可以以用户体验为导向，对软件和硬件做更深度定向调优，在AI 2.0时代的竞争中，更好地做到「以人为本」。\n\n其三，也正是本次联想Sphere亮相给大众的一点小小凡尔赛——老黄苏妈陈立武同台的背后，折射出的是联想突出的全球供应链整合能力。\n\nGartner的数据显示，在全球供应链榜单中，联想排名全球第八、亚洲第一。\n\n在CES现场，杨元庆还透露了一个数据：联想在未来3-4年内，与英伟达的业务合作规模将实现增长4倍的目标。\n\nAMD苏姿丰也表示，将深化与联想在企业AI落地方面的合作。\n\n同时，在研发投入方面，联想还在持续加码：最新财报显示2025/2026第二财季研发费用为41亿元，同比增长6%。研发费用的递增，对应的是公司在AI、液冷技术、智能体等方向的投入在增加。\n\n由此，联想也勾勒出了一个AI 2.0生态型企业的版本答案。\n\n这一次，多边形战士不仅是「生态型企业」，还是面向超级智能的「超级智能生态企业」。\n\n从移动互联网，到大模型革新一切，每一个科技创新时代，在技术突破向落地深化的过程中，企业们都面临着同样的课题：如何最大化自身优势，卡住自己新的生态位，继而成为新风潮的引领者。\n\n2026，新的趋势已经开始显现，谁能站上潮头？\n\n从技术能力到生态能力，更多的探索答案，正在我们面前铺开。\n\n在此背后，通往未来的AI终极形态，也将在我们每个人的生活中，持续显露踪迹。\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "起猛了，追觅的扫地机、割草机、洗护机器人在CES成精了！\n\n> henry 发自 凹非寺\n> \n> 量子位 | 公众号 QbitAI\n\n火爆，今年的CES相比以往更火爆，而且在AI浪潮下，最火爆的莫过于具身智能。\n\n走到现场就能直观感受到，具身智能正加速涌入家用场景，家庭化量产的信号已经清晰可见。\n\n没错，就是那个以家用机器人为人熟知的追觅，带来了多款「具身智能」产品。\n\n在CES现场看过产品后，不少观众还得出来一个令人惊叹的结论，这可能会是具身智能家庭化量产进程里最快的公司。\n\n\n给家电安上胳膊和腿，不性感，但有效\n\n这年头的家用机器人，已经开始成精了，这是今年追觅CES展台给人最直观的感受。\n\n从外形上看，它们依然仍采用家电形态，但不少产品，已经拥有了AI智能大脑的能力，能够自主决策与执行任务，“腿”和机械臂逐渐开始成为标配。\n\n换句话说，这是一批“长出腿脚的家电”。它们已经不再局限于执行单一的家务，而是基于具身智能技术朝多功能的家庭服务机器人迈进。\n\n\nAI具身智能洗护机器人\n\n在这批新品里，最先让人围观驻足的，当属追觅的AI具身洗护机器人。\n\n它最核心的突破，是把“置物-洗衣-烘干”的全流程彻底“打包接管”：从脏衣篓自主拾取衣物，到按材质分类洗涤、烘干，全程无需人工介入。\n\n而且，它不只是能自己搞定抓衣服、放洗衣机、进烘干机这一套，还能摸清家里的环境，记着用户的使用习惯。\n\n相较之下，过去一些人形机器人只能完成“把衣服放进洗衣机”的半自动演示，仍停留在任务拆解与约束阶段。\n\n而追觅的AI具身洗护机器人，则可以实现真正的任务闭环执行。\n\n在形态上，它整体由轮式底座、机械臂以及末端执行器（夹爪）构成。\n\n此外，为了应对衣物这类柔性物体的抓取与放置，AI具身洗护机器人还配备了多模态感知系统。\n\n它通过视觉、触觉等感知手段，同时具有AI能力，能够处理不同类别和材质的衣物，从而真正实现家庭洗衣的全流程托管。\n\n\n具身智能割草机器人\n\n另一款让人眼前一亮的机器人，是这次首次亮相的具身智能割草机器人。\n\n先说最直观的感受——它居然能浇水！\n\n这可不是抢了“园丁”的活那么简单。\n\n对机器人而言，在移动过程中完成倒水，本身就意味着对空间定位、动作协调和精细操作能力的更高要求。\n\n一旦这类由AI赋能的能力能够稳定实现，拾取、整理、清扫，反而成了顺手的事。\n\n无论是收拾孩子的玩具、处理庭院里的杂物，还是修剪枝叶、使用不同工具，这套能力都可以自然迁移。\n\n也正因如此，对于这款被定位为割草机的机器人来说，割草这件事反而是最简单，最不用多说的事儿。\n\n\n具身智能新物种\n\n此前预热已久的“具身智能新物种”，也于这次CES露出真面目。\n\n从外形上看，它有着四足轮腿，同时有着清晰的躯干、机械臂，夹爪，以及用于环境感知的视觉传感器，来拥有执行和感知能力。\n\n这种结构设计，让它开始向更复杂的家务场景延伸。\n\n一方面，依托底座的四足轮腿结构，它可以跨越门槛、台阶，甚至上下楼梯，实现真正意义上的全屋清扫。\n\n另一方面，借助仿生双臂和夹爪，它可以承担叠衣物、倒垃圾、擦桌子等功能，且可自主处理衣物叠放、物品递送、桌面整理等多样化家务。\n\n更令人惊叹的是，它创新性整合了居家养老服务模块，可提供24小时健康监测、跌倒预警与药品递送等功能，精准切入了多代同堂家庭的核心关切。\n\n而这些动作，正是现在人形机器人想要做好的“标志性能力”。\n\n值得一提的是，长出“手”的扫地机不止一款。\n\n以Cyber10 Ultra为例，它搭载5自由度机械手，靠AI视觉识别就能自主完成“抓取-分类-收纳”全流程。\n\n此外，针对多层住宅家庭，追觅的仿生爬楼机Cyber X，还能带着上面这些扫地机在各类楼梯上“自由上下”，实现又快又稳地攀爬。\n\n它最快可以达到0.2米每秒，最高可爬上35cm的台阶，爬完一层楼只需要不到半分钟，而且在爬楼的过程中也可以清扫楼梯。\n\n同时，在三重制动防护系统下，爬楼机在木质、硬地面或铺地毯的楼梯都可以稳定行走，哪怕在电力耗尽情况下也能保持稳定。\n\n这意味着，机器人的清扫不再被限制在单层空间，而是开始把整个房屋视作一个连续、可行动的空间。\n\n\n具身智能泳池机器人\n\n还没完，追觅甚至把这套能力，搬进了水下。\n\n在这次CES，追觅首次展出了具身智能泳池机器人Z2 Ultra Cyber。\n\n同样是“长了胳膊”，但放到水下，变化一下子就直观了起来。\n\n它不再只是贴着池底跑路线，而是能停下来，伸“手”去处理一些过去必须人下水才能解决的地方。\n\n比如排水口滤网的堵塞物、池壁和台阶边缘的顽固污渍，这些细碎又麻烦的活，它都能直接接手。\n\n为了更稳地找到杂物和脏污的位置，这台泳池机器人还会先进行3D建图，再根据识别结果逐项完成清洁。\n\n总的来看，在这次CES上，变聪明的，并不只是前面提到的洗护机、割草机、扫地机们……\n\n在追觅的展台上，还能看到长出双机械臂的洗地机，以及左右送风可以独立调节的双机械臂空调。虽然形态各不相同，但做的其实是同一件事——\n\n让家电具备智能感知环境、调整行为、自主完成任务的能力。\n\n不难看出，这些外形仍然像家电的机器人，正在从“只会干一件事”的工具，逐步演化为能在同一环境中承担多类任务的物理智能体。\n\n而支撑这些任务开始稳定落地的，正是追觅通过“具身智能”在家用机器人身上完成的一次产品升级。\n\n\n从清洁工具到家庭服务机器人\n\n在行业的传统认知里，扫地机、割草机，甚至工业机械臂，更多还是单一工具属性。\n\n它们依赖SLAM这些经典机器人学方法，在结构化、可预期的环境中执行单一、重复的任务。\n\n而以人形机器人为代表的具身智能，瞄准的则是完全不同的方向：能否在真实、开放的环境里，应对复杂多变的任务场景。\n\n支撑这种能力的，是数据驱动的学习范式，以及完整的感知-理解-决策-执行行为闭环。\n\n\n\n\n\n△AI生成\n\n正因为这条技术分界线长期被视为共识，追觅将多类家电产品升级为具身智能产品的做法，才可以称为给出一个行业新思路。\n\n而追觅在CES现场给出的线索是：这些产品正在跨过单一工具属性的边界，在家庭这一高度不确定的环境中，开始具备独自思考的能力，真正实现具身智能的逻辑闭环。\n\n比如，追觅的AI具身洗护机器人，执行洗衣任务时不是按预设步骤走流程。\n\n它会自主识别脏衣篓里的衣物、抓取分拣，接着完成洗涤、烘干，全程无需人工介入。\n\n而这些能力的实现，不再只靠传统规则控制，而是融入了VLA（视觉语言模型）与模仿学习，通过数据驱动的方式，让机器人的操作逻辑更贴近人类的自然动作。\n\n这也让它在家用场景里，初步跑通了 “感知环境→理解任务→决定动作→执行落地” 的完整链路。\n\n在追觅的规划里，这种 “能看见但依赖规则” 的状态，只是具身智能1.0版本；\n\n而在追觅后续的roadmap中，随着数据驱动的具身算法持续落地，机器人将从“看得见”，进化到“会自己决定怎么做”，并最终与家庭场景深度融合——\n\n从单一的清洁工具，走向真正意义上的家庭服务机器人。\n\n\n家用具身量产的工程解法\n\n如果把目光从概念层拉回到“能不能进家庭、能不能卖出去”，追觅这套“家用具身”的路径，确实与当前多数玩家不太一样。\n\n一方面，通用人形机器人仍然卡在技术、成本、稳定性与量产等硬门槛上；\n\n而另一边，加载具身智能能力的小型桌面设备、情感陪伴硬件，往往停留在互动层面，难以承担真实、持续的家务劳动。\n\n尤其在经历了2025具身智能元年的“热辣滚烫”，2026年的具身赛道也将趋于冷静：\n\n没有明确功能价值、没有成熟渠道、没有现金流自循环能力的产品，很可能直接被市场淘汰。\n\n也正因如此，追觅选择以具身能力对扫地、割草、洗护、泳池清洁等已有成熟需求和出货规模的家用机器人进行能力升维，本质上是一种更务实、也更可持续的路线选择。\n\n具身能力在这里，是被用来扩展产品边界、提升任务完成度的增量能力。\n\n更关键的是，这种路径并非凭空起跳。\n\n追觅过去在智能算法、高速数字马达、运动控制、视觉感知、整机工程化上的长期投入，伺服电机、关节模组、导航与感知系统可以在多个品类之间复用。\n\n此外，大规模出货本身也构成了一套持续运转的数据回路。\n\n在真实家庭环境中的长期运行，设备能不断积累感知、决策与执行层面的反馈数据，为具身能力的工程化迭代提供了多数实验型项目难以获得的现实基础。\n\n相比于追求双腿人形结构的具身智能，像追觅这样的具有优势工具属性的具身智能机器反而可能是最先通用的。\n\n\n“具身智能家庭化量产落地的最快选手”\n\n结合行业既有路径来看，追觅的具身智能路线并不追求最接近“人”的形态，而是更在意把具身的思考、执行能力真正做进家庭。\n\n也正是在CES现场，开始有这样的评价出现：\n\n“在实现具身智能家庭化量产落地上，它可能还是目前进度最快的选手。”\n\n人形机器人比拼的是通用智能与结构突破，而家用具身设备，则更现实地需要考虑工程化、成本控制与量产体系——这恰恰是追觅过往反复验证过的能力。\n\n一方面，正如前述，追觅在扫地机器人等消费级机器人领域长期积累的工程化经验，使其能够有效地将相关技术和供应链优势，复用到这波具身智能产品升级的浪潮中。\n\n另一方面，追觅从来都是一家以速度见长的公司。\n\n从2024年2月全球首创双机械臂X40发布，到2025年推出仿生多关节机械手X50 Cyber，再到如今2026年CES展出能爬楼梯的Cyber\nX，追觅仅用2年时间，就完成了行业平均3-4年的技术量产闭环。\n\n具身智能未来是否一定会沿着“任务型专用设备，不断叠加功能”的方向演进，仍然存在变量，通用人形是否会在成本、通用性，可靠性上实现突变，也仍未可知。\n\n但至少在当下，当大多数具身智能还停留在展望未来时，追觅已经开始聚焦当下，用具身智能能力真正服务每个用户的家。\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      },
      {
        "json": {
          "content": "763亿港元，大模型公司最大规模IPO！MINIMAX登陆港交所，开盘前大涨50%\n\n克雷西 发自 凹非寺\n量子位 | 公众号 QBITAI\n\n一声锣响，港交所迎来了一个备受瞩目的AI新面孔——\n\n刚刚，MiniMax正式完成IPO冲刺，在香港交易所主板挂牌上市，股票代码“00100”。\n\n这组代码整体呼应了MiniMax这个名字，其中0代表Mini，100在二进制语境下对应Max，寓意是满足条件的最小解。\n\n图片\n[https://i.qbitai.com/wp-content/uploads/2026/01/6a99d1d2211326828a586b8d743edff5.webp]\n\n根据MiniMax此前公布的配发结果，假设绿鞋全额行使，此次全球发售约3358万股，最终以每股165港元的定价上限发行，募集资金总额约55.4亿港元（约49.65亿人民币）。\n\n图片\n[https://i.qbitai.com/wp-content/uploads/2026/01/4e4da296709e1bb6c2cd62c849b47bdf.webp]\n\n市场认购反响极为热烈，其中公开发售部分获得1837倍超额认购，国际发售部分亦获37倍认购。\n\n昨天下午的暗盘当中，MiniMax一路上涨，最高曾达到211.2港元每股，最后收盘价为每股205.6港元，涨幅近四分之一。\n\n今日早盘依旧高开，开盘前一度涨幅超过50%，市值突破763亿港元。截至发稿，最高股价已达每股299港元，涨幅超80%。\n\n在此次发行的认购名单中，Aspex、Eastspring（瀚亚投资）、Mirae\nAsset（未来资产）及阿里巴巴等14家机构作为基石投资者参与其中，合计认购了27.23亿港元的份额。\n\n此时距离MiniMax成立，刚刚过去不到四年。这家一直强调“极致效率”的公司，用这个时间周期，走完了从初创团队到二级市场上市公司的全部流程。\n\n更早之前，这家公司在资本市场的融资能力同样一流，成立四年间，已吸引米哈游、阿里巴巴、腾讯、小红书、小米、金山、PCG和正大集团等知名机构投资站台，累计融资已超15亿美元。\n\nMiniMax创始人兼CEO闫俊杰在上市致辞中表示：\n\n> 过去四年，我们从零开始，靠一群年轻人构建了全球领先的全模态能力，并服务了全球2亿多用户。但这一切只是刚刚开始。我们期待接下来四年AI行业的进步速度和过去四年一样快，我们也努力能在里面能做出自己的贡献。\n\n图片\n[https://i.qbitai.com/wp-content/uploads/2026/01/8ae4ef21cd4439709b75bcd745a73805.webp]\n\n站在这个新的节点回顾，MiniMax过去四年的战略逻辑可以概括为两个核心维度——\n\n在技术侧，多模态齐发向AGI并进；在组织侧，通过“组织的Scaling”获得极致的研发效率。\n\n\n全模态，为了AGI\n\n技术层面，MiniMax在成立之初，便制定了一条极具挑战性的路线，坚持全模态并行研发。\n\n对于一家初创公司而言，这意味着必须在算力基础设施、算法架构设计以及数据处理流水线上同时进行重投入，在资源有限的早期阶段极其考验团队的创新能力和工程调度能力。\n\n不过从结果上看，MiniMax的这种并行策略也的确获得了显著的成果，其技术迭代密集、关键技术突破频率高，接连在语音、视频与文本等模型上取得突破性进展。\n\n图片\n[https://i.qbitai.com/wp-content/uploads/2026/01/cda905455b4840b50981bf84acad067c.webp]\n\n语音方面，Speech 02实现了超低延时的实时交互，率先在支持超过40种语言的复杂场景下确立了行业第一的性能标准，极大提升了人机交互的拟人化程度。\n\n视频方面，海螺AI（Hailuo AI）在技术难度最高的文生视频领域迅速卡位，凭借其对复杂物理动态的优异掌控，在权威竞技场评测中力压众多国际大厂，排名高居第二。\n\n而在作为认知核心的文本模态上，M2.1模型的表现尤为关键，它在大模型竞技场（LMArena）Coding榜单中拿下了开源模型第一的成绩。\n\n同时在实际业务层面，M2.1显著增强了面向真实场景的Coding代码生成能力与多语言逻辑推理能力，能够胜任更具挑战性的生产力任务。\n\n图片\n[https://i.qbitai.com/wp-content/uploads/2026/01/d53b526e090d0817b3686bcb81aad35b.webp]\n\n伴随着全模态技术底座的布局，MiniMax在商业层面确立了以“模型即产品”为核心的运营策略。\n\n这一逻辑将模型能力转化为B端与C端两条并行产线，在消费级市场，模型被直接封装为AI原生应用，目前用户规模已达2.12亿；在企业级市场，通过开放平台以API接口形式提供服务。\n\n这种双向布局，使得MiniMax的技术突破转化为了一套完整的商业结构。\n\nTo B和To C看似是两条不同的路，但在MiniMax眼中其实是一回事——无论外壳是APP还是API，最核心的产品只有一个，就是模型本身。\n\n既然核心产品只有一个，那就需要通过不同的渠道将其价值最大化，因此同时做BC两端，才能将智能铺进更多场景。\n\n更关键的是，在多点开花的表象背后，MiniMax还有更深一层考虑。\n\nMiniMax之所以选择全模态，核心动因并非单纯为了丰富产品线，而是源于团队在Day 1对AGI技术终局的底层判断——\n\n真正的AGI，必然是全模态的。\n\n文本仅仅是人类对世界的符号化抽象，而构建一个真正具备物理常识的“世界模型”，必须让AI直接摄取和理解物理世界的原始信号。\n\n只有打通视觉、听觉与文本的认知通道，模型才能理解因果律、空间关系与时间流变，从而触达智能的最高天花板。\n\n核心目的之外，这种架构设计也在客观上为解决“数据枯竭危机”提供了解法。\n\n随着互联网上高质量文本数据被挖掘殆尽，单纯依赖文本进行Scaling已面临边际收益递减的风险。\n\n全模态布局使得海量的视频与音频数据成为新的数据来源，为智能持续进化提供了丰沛且差异化的数据供给。\n\n从技术验证的维度来看，这一路线的落地过程中也是对Scalability路线普适性的验证。\n\nMiniMax通过一套统一的核心算法成功跑通语音、视频与文本，确认了其技术能够灵活适配完全不同的领域，而非是针对某一特定任务的特调产物。\n\n这种底层通用能力的成功验证，也直接成为了MiniMax在面对资本市场的价值重估与筛选时，手中握有的最强硬通货。\n\n回顾近期的全球资本市场，一个显著的趋势是马太效应的加剧——随着Scaling\nLaw带来的资源门槛急剧抬升，大量缺乏底层技术独创性的腰部模型公司，失去了资本青睐。\n\n例如，硅谷的Inflection AI与Adept因技术路径难以持续说服市场，在昙花一现后最终失去了后续资金的支持。\n\n经过行业早期的狂热期，资本对于模型公司的筛选标准重新校准，资金已不再为单纯的赛道红利或愿景故事买单，而是转向了对企业底层技术硬实力的极致要求。\n\n在这一理性回归的大背景下，Aspex等国际长线资管机构与阿里巴巴等产业资本依然选择重注MiniMax，强有力地印证了市场对MiniMax所构建的全模态技术壁垒与极致工程效率的高度认可。\n\n\n用组织的SCALING撬动极致效率\n\n如果说全模态的并行产出是外显的果实，那么支撑这一高难度动作的内因，则是对生产关系的彻底重构。\n\n要维持小团队的大产出，答案不能止步于技术，必须向组织要效率，而获得效率的途径，就是Scaling。\n\n闫俊杰将组织视为一个需要Scaling的模型，认为AI原生公司的人才结构应像模型参数一样具备高度多样性，通过不同画像人才的排列组合与高频碰撞，在组织内部产生涌现效应，而非简单地线性堆叠人力。\n\n图片\n[https://i.qbitai.com/wp-content/uploads/2026/01/a070bf03d15713dc530cc89437673fb2.webp]\n\n为了在实际研发过程中构建组织这个“模型”，MiniMax首先在参数多样性上引入变量，将AI智能体直接纳入工作流。\n\n在MiniMax内部，超过80%的代码由AI完成，大量Agent被部署为“AI实习生”。这些能够直接读取代码库、监控线上环境的Agent，甚至能在飞书对话中通过Review后直接修改线上代码。\n\n这种深度介入研发流程的AI Native工作流，相当于在“人类参数”之外引入了海量的“AI参数”，从根本上改变了软件工程的边际成本结构。\n\n为了适配这种高密度的参数组合，还必须构建一个极度扁平的架构以确保“高频碰撞”。\n\n适配这一需求的是极其年轻化的人员构成与组织形态，全员385人中研发人员占比高达73.8%，平均年龄仅29岁，主力军为95后。\n\n配合CEO之下职级不超过三层的设计，这种组合消除了冗余层级带来的信息损耗，让这支年轻队伍能够无损地执行新的开发路径。\n\n这一组织模型跑通后的实际产出，便是极具竞争力的研发效率数据。\n\nMiniMax累计花费约5亿美金，约为OpenAI同期资金消耗量的百分之一，却维持了全模态产品的并行产出。这种极高的投入-产出比并非依靠单纯的成本控制，正是得益于上述生产流程的重构。\n\n掌舵这一复杂组织模型的创始人兼CEO闫俊杰，在创立MiniMax之前已在深度学习领域深耕多年。\n\n早在2014年深度学习爆发初期，他便在顶级AI技术平台主导了工业级深度学习工具链的搭建，并利用早期的高性能算力集群进行了大量验证。\n\n核心创始团队也延续了这种技术基因，联合创始人周彧聪与贠烨祎均为经历了AI 1.0时代技术浪潮洗礼的实战老兵。\n\n这种深厚的技术积淀与新生代力量的融合，让这支队伍最终以极致年轻的Scaling形态，跑出了远超行业平均水平的极致效率。\n\n\n变资源为智能，AI从业者的新挑战\n\nMiniMax的成功上市，给当下陷入算力焦虑的AI行业提供了一个新的观察样本。\n\n它验证了在粗放的资源消耗竞赛之外，确实存在着一套由极致效率和通用方法论构建的生存法则。\n\n这种生存法则不再依赖盲目的投入规模，侧重于对技术路线的精准判断与执行，证明了精细化的工程能力同样足以撬动从模型到商业的闭环。\n\nMiniMax以仅有不到OpenAI百分之一的资金成本，换取了从技术到底层架构的第一梯队入场券，证明了资本厚度与算力规模不再是唯一的护城河，组织将资源转化为智能的效率成为了更关键的竞争维度。\n\n这种“智能转化率”的高低，成为了衡量企业能否在长周期的AGI赛程中保持在牌桌之上的新标准。\n\nMiniMax的上市，创下了近年来港股IPO机构认购历史纪录。此次参与MiniMax\nIPO认购的机构超过460家，超额认购达70多倍，下单的机构中不乏众多的长线基金及国家主权基金。\n\n上市当天，创始人闫俊杰将这一时刻定义为一个新的起点，同时表示下一个四年将继续努力，取得和过去一样的发展速度。\n\n> 这个过程更重要的是找到更多的同路人。我们为这支充满热情和创新能力的团队感到骄傲。同时，我们更加热切地期待全球更多优秀的人才加入我们。\n\n这一表态意味着从0到1的生存验证阶段结束，但未来的行业竞争将变得更快、更难、更复杂。\n\n在AGI的漫长征途中，人才密度的持续累积，最终指向的是一种足以应对无限复杂度的核心能力——Scalability。\n\n唯有具备这种属性，才足以在指数级不断攀升的竞争难度中，持续承载未知的技术挑战。\n\n版权所有，未经授权不得以任何形式转载及使用，违者必究。"
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "output": [
            "** 文章标题 **  \n-来源: QbitAI (公众号)  \n-原文链接: https://www.qbitai.com/2026/01/368856.html  \n\n-核心摘要:  \n 1. 1986年CMU联结主义夏令营的合影被视为AI界“索尔维会议”，其中出现了深度学习先驱Hinton、LeCun等人。  \n 2. Hinton的第一位博士生Peter Brown，后成为华尔街量化基金文艺复兴科技CEO，其职业轨迹从语音识别到金融量化体现了AI技术在不同行业的迁移与价值创造。  \n 3. Hinton因经济压力“卖”给谷歌，却始终保持独立、坚持科学严谨，展示了其在学术界长期忍耐与创新的精神。  \n\n-关键要点:  \n - Hinton与Peter Brown的师徒关系及其对AI和金融行业的深远影响。  \n - Peter Brown从语音识别到文艺复兴基金CEO，构建“神秘赚钱机器”并实现超高收益率。  \n - Hinton在学术与产业之间的选择与坚持，以及他不以学生财富证明自身成就的哲学。",
            "**吴恩达：图灵测试不够用了，我会设计一个AGI专用版**\n\n-来源:[QbitAI公众号](https://www.qbitai.com/2026/01/368839.html)\n-原文链接: https://www.qbitai.com/2026/01/368839.html\n\n-核心摘要:\n  - 吴恩达计划推出“图灵‑AGI测试”，专门评估人工通用智能（AGI）的实际工作能力，而非传统对话式的图灵测试。  \n  - 测试将让AI系统在真实环境中完成多日任务，如客服、会议等，判断其是否能像人类一样熟练执行并产生经济价值。  \n  - 该方法避免固定测试集带来的偏差，使评估更贴近实际应用，也有助于缓解对AGI过度炒作的预期。\n\n-关键要点:\n  - **新目标**：将图灵测试升级为“图灵‑AGI测试”，聚焦AI在工作场景中的通用性与经济效益。  \n  - **评估方式**：AI获得互联网访问、浏览器和Zoom等工具，接受裁判设计的多日体验任务，若能完成并提供持续反馈即通过。  \n  - **意义与影响**：此测试将为行业设定明确目标，平衡对AGI hype 的期待，并推动实际可用 AI 应用的发展。",
            "** DeepSeek V4爆料：春节档GPT/Claude编程危 **  \n-来源: QbitAI / 未公开作者  \n-原文链接: https://www.qbitai.com/2026/01/368820.html  \n\n-核心摘要:  \n  - 两位知情人士透露，DeepSeek计划于春节前后发布V4版本。  \n  - V4在编码能力上已超越Anthropic的Claude和OpenAI的GPT系列。  \n  - 核心突破包括对超长代码提示词的高效处理与解析，以及训练全过程数据模式理解保持稳定并提升。  \n\n-关键要点:  \n  - **超长代码提示处理**：V4能够更好地解析和执行长度超过传统模型限制的代码段。  \n  - **持续性能提升**：在整个训练阶段，V4的数据模式理解能力没有出现衰减，相比前代显著提升。  \n  - **深度推理与可靠性**：生成答案逻辑更清晰、结构更规整，显示出更强的深度推理能力，适用于复杂任务。",
            "**蚂蚁再把医疗AI卷出新高度！蚂蚁·安诊儿医疗大模型开源即SOTA**\n\n- 来源:[QbitAI 公众号](https://www.qbitai.com/2026/01/368649.html)\n- 原文链接: https://www.qbitai.com/2026/01/368649.html\n\n- 核心摘要:\n  - 蚂蚁集团联合浙江省卫生健康信息中心与安诊儿公司开源的医疗大模型AntAngelMed，拥有100B参数，首次在多项权威医疗基准（HealthBench、MedAIBench、MedBench）中夺得SOTA排名。  \n  - 模型采用Ling-flash-2.0混合专家架构，并通过三阶段训练（持续预训练、监督微调、GRPO强化学习）实现专业知识深度融合与人性化对话，兼具医疗准确性与共情表达。  \n  - AntAngelMed的推理效率提升至Dense模型7倍，在FP8量化+EAGLE3优化下实现高吞吐且低成本，可在中小型医疗机构实时多轮交互部署，为行业提供“专、精、稳”全栈闭环路径。  \n\n- 关键要点:\n  - **SOTA成绩与规模**：100B参数模型首登HealthBench、MedAIBench和MedBench榜单，超越Baichuan-M2与GPT-OSS等竞争对手。  \n  - **三阶段训练 & 强化学习**：持续预训练融入临床指南；监督微调提升多方案推理与人性化表达；GRPO双阶段强化学习确保专业、稳健与共情兼备。  \n  - **技术优化与部署便利**：1/32激活比例、无辅助损失+Sigmoid路由、MTP层等架构改进实现7倍效率提升；FP8量化+EAGLE3推理加速，支持低成本实时部署，满足中小型医疗机构需求。",
            "** 太初元碁发布国产高兼容性虚拟指令集PCX及高性能工业级编译器PCXAC **  \n-来源: qbitai.com（太初元碁官方博客）  \n-原文链接: https://www.qbitai.com/2026/01/368641.html  \n\n-核心摘要:  \n 1. 太初元碁推出了与硬件无关的虚拟指令集PCX，支持多层存储抽象和多线程并行模型。  \n 2. PCXAC 编译器将PCX指令映射为不同系列太初AI加速卡机器指令，实现跨硬件兼容性，并在性能上超越LLVM。  \n 3. 提供完整的静态与动态检查工具，帮助开发者提前发现缺陷并提升代码质量。  \n\n-关键要点:  \n - PCX支持多种数据类型（整数、浮点、向量等）和多线程编程模型，降低跨硬件迁移成本。  \n - PCXAC 能将同一PCX指令集在多系列加速卡上直接编译并高效执行，实现软件与硬件解耦。  \n - 在T100加速卡上测试显示，使用PCX/PCXAC 的程序性能显著优于LLVM编译版本，能大幅降低训练与推理时间成本。",
            "**华为小米蔚来抢爆新年新车申报！都很豪华**\n\n- 来源：qbitai.com\n- 原文链接：https://www.qbitai.com/2026/01/368617.html\n\n- 核心摘要:\n  - 新年第一批车型申报已全部提交，涵盖蔚来ES9、鸿蒙智行V9、小米SU7、极氪8X、奔驰GLC等多款重磅豪华车。\n  - 多家企业同时推出“9”系列旗舰车型，尺寸庞大、配置高端；部分车辆配备激光雷达与高性能电池，续航可达1200+km。\n  - 预期上市时间集中在2026年春季至夏季，标志着车圈竞争将进一步加剧。\n\n- 关键要点:\n  - **蔚来ES9**：全新最大SUV，3排座椅、700马力双电机、预计Q2上市；配备天行底盘与900V架构技术。\n  - **鸿蒙智行V9**：首款MPV，增程版搭载华为雪鸮系统，CLTC续航1250+km，预定春季上市。\n  - **小米SU7、极氪8X、奔驰GLC**等车型在尺寸、动力与智能配置上均实现升级，激光雷达与高压架构成为新标配。",
            "** 文章标题 **  \n清华AI找药登Science！一天筛选10万亿次，解决AlphaFold遗留难题  \n\n-来源:[qbitai.com]  \n-原文链接: https://www.qbitai.com/2026/01/368598.html  \n\n-核心摘要:\n - 清华大学研发的DrugCLIP平台在24小时内完成了10万亿次蛋白–分子配对计算，实现了人类基因组规模的药物虚拟筛选。  \n - 通过深度对比学习与3D结构预训练，DrugCLIP将传统分子对接转化为高效向量检索，从而在速度和准确性上大幅超越现有方法。  \n - 在抑郁症、癌症、帕金森等疾病靶点以及AlphaFold预测蛋白上验证，筛选出多种潜在活性分子并得到实验确认。\n\n-关键要点:\n - **超高通量**：DrugCLIP在128核CPU+8张GPU节点上实现10万亿次配对，提升百万倍。  \n - **全基因组覆盖**：首次完成约1万个蛋白靶点、2万个结合口袋的虚拟筛选，产生200万余高潜力活性分子。  \n - **实验验证成功**：在抑郁症相关蛋白和TRIP12等未见结构蛋白上发现多种具有优越亲和力与抑制活性的候选药物，已通过细胞系、SPR及冷冻电镜确认。",
            "** 文章标题 **  \n一口气集齐老黄苏妈英特尔，还得是AI，还得是联想  \n\n-来源:[QbitAI公众号](https://www.qbitai.com/2026/01/367831.html)  \n-原文链接: https://www.qbitai.com/2026/01/367831.html  \n\n-核心摘要:\n  - CES 2026 的主线是“所有设备都将成为 AI 终端”，从手机、PC 到新型智能硬件，AI 与物理世界深度融合。  \n  - “超级入口”概念被重新诠释为 AI 生态的聚合点：既包括传统的超级 App，也包含大模型与端侧协同的新生态。  \n  - 联想通过“混合 AI”公式（个人+企业+公共）提出多智能体协作、端-云-边一体化，并推出首款跨平台 AI 超级终端 “Lenovo Qira”，实现多设备联动与个性化推理。  \n\n-关键要点:\n  - **AI 终端化趋势**：从传统硬件到 AI 专用设备，所有产品将成为 AI 的入口和执行器。  \n  - **混合 AI 架构**：云端大模型 + 本地定制小模型，通过智能模型编排、认知引擎与多智能体协作，实现低延迟、高安全的个性化服务。  \n  - **联想生态优势**：掌握消费级与企业级入口，具备软硬一体深度调优能力，全球供应链整合实力；未来将与 NVIDIA、AMD 深度合作，推动 AI 2.0 超级智能生态发展。",
            "** 文章标题 **  \n起猛了，追觅的扫地机、割草机、洗护机器人在CES成精了！\n\n-来源:[量子位 / QbitAI公众号]  \n-原文链接:[https://www.qbitai.com/2026/01/367855.html]  \n\n-核心摘要:  \n 1. CES展示了追觅推出的多款具身智能家用机器人，突破传统单功能家电。  \n 2. AI洗护机器人实现全流程自动化，从抓取衣物到烘干无人工介入；割草机兼具浇水与精准定位等高级动作。  \n 3. 新型四足/双臂机器人与泳池机器人进一步扩展家务场景，能跨楼梯、清扫多层空间并提供养老服务。  \n 4. 追觅通过已有的硬件与算法平台实现快速量产，显示具身智能在家庭化落地上最快进度。\n\n-关键要点:  \n - **全流程闭环**：洗护机器人从脏衣篓抓取到烘干完成一次完整任务。  \n - **多功能扩展**：割草机、泳池清洁等传统工具升级为具身智能，能执行浇水、倒垃圾等复杂动作。  \n - **工程化优势**：利用已成熟的运动控制与感知系统，实现快速从概念到量产的闭环，定位为最快落地选手。",
            "** 文章标题 **  \n763亿港元，大模型公司最大规模IPO！MiniMax登陆港交所，开盘前大涨50%\n\n-来源:[量子位 / QBITAI公众号]  \n-原文链接:[https://www.qbitai.com/2026/01/367789.html]\n\n-核心摘要:  \n 1. MiniMax完成香港主板上市，发行价165港元，总募集资金约55亿港元。  \n 2. IPO认购热烈，公开发售超额1837倍，国际发售37倍；开盘前股价涨幅超过50%，市值突破763亿港元。  \n 3. MiniMax在四年内从创立到上市，累计融资逾15亿美元，核心技术聚焦全模态（文本、语音、视频）并行研发，并通过“模型即产品”双向商业布局实现快速用户增长。  \n 4. 公司强调组织 Scaling：高度多样化人才与 AI 内嵌工作流，使团队仅5亿美元成本完成高效产出，证明资本规模不再是唯一护城河。\n\n-关键要点:  \n -全模态技术战略：同步推进文本、语音、视频模型，实现 AGI 方向的多感知能力。  \n -“模型即产品”运营模式：将同一核心模型同时服务 B‑端 API 与 C‑端应用，扩大商业覆盖面。  \n -组织 Scaling：超过80%代码由 AI 完成，极度扁平化管理与年轻团队（平均29岁）驱动研发效率，实现成本与产出比显著优于行业标杆。"
          ]
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "FTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cbb16b24-ef6b-41a3-bb40-a7029c29e91d",
  "meta": {
    "instanceId": "1997fc0e5234d358a2de15a099c06b2f63ed80f5ffafd985c3731df00255b8e6"
  },
  "id": "vI85lkoZfG2GyzHAVPeir",
  "tags": []
}